## Write a program that prints the numbers ranging from one to 50.
But for multiples of three, print "Fizz" instead of the number and for the multiples of five, print "Buzz." For numbers which are multiples of both three and five, print "FizzBuzz"

In [3]:
list(range(1,51))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [8]:
for i in range(1,51):
    if i % 3 == 0 and i % 5 == 0:
        print ("FizzBuzz")
    elif i % 3 == 0:
        print ("Fizz")
    elif i % 5 == 0:
        print ("Buzz")
    print (i)

1
2
Fizz
3
4
Buzz
5
Fizz
6
7
8
Fizz
9
Buzz
10
11
Fizz
12
13
14
FizzBuzz
15
16
17
Fizz
18
19
Buzz
20
Fizz
21
22
23
Fizz
24
Buzz
25
26
Fizz
27
28
29
FizzBuzz
30
31
32
Fizz
33
34
Buzz
35
Fizz
36
37
38
Fizz
39
Buzz
40
41
Fizz
42
43
44
FizzBuzz
45
46
47
Fizz
48
49
Buzz
50

## Exercise 7
Write an expression that returns True if the last character of a string is not 'a'.

In [11]:
s = "soledad"
if s[-1] != "a":
    print ("True")

True

In [12]:
s[-1] != "a"

True

## Exercise 8
Write a simple program that determines whether someone has enough money to pay for rent. If they have enough money, print out how much is left in the account. If they don't have enough, print out how much they owe. If they have the exact rent, print out a different message. Test your code with different values of rent.

In [9]:
rent = 1000
account = 1000

if account > rent:
    print (f"You can pay the rent. You have {account - rent} left")
if account < rent :
    print(f"You cannot pay the rent. You have minus{account-rent}")
if account == rent:
    print("Your finances are really awful!")

Your finances are really awful!

## Exercise 9
Use a for-loop to sum up all the numbers from 1 to 1,000.

In [22]:
suma = 0
for i in range (1001):
    suma += i
suma

500500

## Exercise 10
Use a for-loop to calculate the mean (average) from the given list of values.

In [25]:
numbers = [2,5,6,7,8]
aver = 0
for i in numbers :
    aver += i
aver/len(numbers)

5.6

## Exercise 11
Calculate the sum of the squared values of each of the first 100 positive integers.

In [5]:
values = [99, 143, 32, 412]
total = 0
for v in values:
    total += v
total / len(values)

171.5

## Exercise 12
Use a for-loop to iterate over the first 10 positive integers, printing out their squared value only if the value is greater than 50.

In [13]:
for i in range (10):
    suquared = i ** 2 
    if suquared >50:
        print (suquared)

64
81

## Exercise 13
Use a for-loop to iterate over every 25th positive integer up to 200, appending its squared value to a list.

In [2]:
s =[]
for i in range(1,201,25):
    s.append(i**2)
s

[1, 676, 2601, 5776, 10201, 15876, 22801, 30976]

## Exercise 16
Use a while loop to find the sum of all integers between 0 and a given integer x. Output result.

In [4]:
x = 20
total = 0
while x > 0:
    total += x
    x -= 1
total

210

## Exercise 17
Assign 'x' a positive integer. Use a while loop to find the sum of all integers between half of x and x.

In [ ]:
x = 20
total = 0
half = x/2
while x > half:
    total +=x

## Exercise 18
Use nested for-loops in this exercise. Write an outer for-loop to iterate over the integers 0 through 9. Within this for-loop, write an inner for-loop to iterate over the integers 0 through 4. Create two separate variables to count the total number of iterations for each loop and output their values. Is it what you expect?

In [1]:
count_outer = 0
count_inner = 0
for i in range(10):
    count_outer += 1
    for j in range(5):
        count_inner += 1
count_outer, count_inner

(10, 50)

### Exercise 19 

A well-known property of right triangles is that the hypotenuse squared equals the sum of the squares of the other two sides. This is known as the Pythagorean theorem and is usually written as  ùëé2+ùëè2=ùëê2 . A Pythagorean triple is a set of three integers that satisfy the theorem. For instance, 3, 4, and 5 are a Pythagorean triple as 9 + 16 = 25. Can you find all the Pythagorean triples where all sides are less than 20.

In [1]:
for a in range(1, 20):
    for b in range(1, 20):
        for c in range(1, 20):
            if a ** 2 + b ** 2 == c ** 2:
                print(a, b, c)

3 4 5
4 3 5
5 12 13
6 8 10
8 6 10
8 15 17
9 12 15
12 5 13
12 9 15
15 8 17

## Exercise 5
Is the number 87,649 a member of a sequence defined as every 113th integer from 0 to 100,000

In [9]:
r = range(0, 100000, 113)
87649 in r

False