## Write a program that prints the numbers ranging from one to 50.
But for multiples of three, print "Fizz" instead of the number and for the multiples of five, print "Buzz." For numbers which are multiples of both three and five, print "FizzBuzz"

In [3]:
list(range(1,51))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [8]:
for i in range(1,51):
    if i % 3 == 0 and i % 5 == 0:
        print ("FizzBuzz")
    elif i % 3 == 0:
        print ("Fizz")
    elif i % 5 == 0:
        print ("Buzz")
    print (i)

1
2
Fizz
3
4
Buzz
5
Fizz
6
7
8
Fizz
9
Buzz
10
11
Fizz
12
13
14
FizzBuzz
15
16
17
Fizz
18
19
Buzz
20
Fizz
21
22
23
Fizz
24
Buzz
25
26
Fizz
27
28
29
FizzBuzz
30
31
32
Fizz
33
34
Buzz
35
Fizz
36
37
38
Fizz
39
Buzz
40
41
Fizz
42
43
44
FizzBuzz
45
46
47
Fizz
48
49
Buzz
50

## Exercise 7
Write an expression that returns True if the last character of a string is not 'a'.

In [11]:
s = "soledad"
if s[-1] != "a":
    print ("True")

True

In [12]:
s[-1] != "a"

True

## Exercise 8
Write a simple program that determines whether someone has enough money to pay for rent. If they have enough money, print out how much is left in the account. If they don't have enough, print out how much they owe. If they have the exact rent, print out a different message. Test your code with different values of rent.

In [9]:
rent = 1000
account = 1000

if account > rent:
    print (f"You can pay the rent. You have {account - rent} left")
if account < rent :
    print(f"You cannot pay the rent. You have minus{account-rent}")
if account == rent:
    print("Your finances are really awful!")

Your finances are really awful!

## Exercise 9
Use a for-loop to sum up all the numbers from 1 to 1,000.

In [22]:
suma = 0
for i in range (1001):
    suma += i
suma

500500

## Exercise 10
Use a for-loop to calculate the mean (average) from the given list of values.

In [25]:
numbers = [2,5,6,7,8]
aver = 0
for i in numbers :
    aver += i
aver/len(numbers)

5.6

## Exercise 11
Calculate the sum of the squared values of each of the first 100 positive integers.

In [5]:
values = [99, 143, 32, 412]
total = 0
for v in values:
    total += v
total / len(values)

171.5

## Exercise 12
Use a for-loop to iterate over the first 10 positive integers, printing out their squared value only if the value is greater than 50.

In [13]:
for i in range (10):
    suquared = i ** 2 
    if suquared >50:
        print (suquared)

64
81

## Exercise 13
Use a for-loop to iterate over every 25th positive integer up to 200, appending its squared value to a list.

In [2]:
s =[]
for i in range(1,201,25):
    s.append(i**2)
s

[1, 676, 2601, 5776, 10201, 15876, 22801, 30976]

## Exercise 16
Use a while loop to find the sum of all integers between 0 and a given integer x. Output result.

In [4]:
x = 20
total = 0
while x > 0:
    total += x
    x -= 1
total

210

## Exercise 17
Assign 'x' a positive integer. Use a while loop to find the sum of all integers between half of x and x.

In [ ]:
x = 20
total = 0
half = x/2
while x > half:
    total +=x

## Exercise 18
Use nested for-loops in this exercise. Write an outer for-loop to iterate over the integers 0 through 9. Within this for-loop, write an inner for-loop to iterate over the integers 0 through 4. Create two separate variables to count the total number of iterations for each loop and output their values. Is it what you expect?

In [1]:
count_outer = 0
count_inner = 0
for i in range(10):
    count_outer += 1
    for j in range(5):
        count_inner += 1
count_outer, count_inner

(10, 50)

### Exercise 19 

A well-known property of right triangles is that the hypotenuse squared equals the sum of the squares of the other two sides. This is known as the Pythagorean theorem and is usually written as  𝑎2+𝑏2=𝑐2 . A Pythagorean triple is a set of three integers that satisfy the theorem. For instance, 3, 4, and 5 are a Pythagorean triple as 9 + 16 = 25. Can you find all the Pythagorean triples where all sides are less than 20.

In [1]:
for a in range(1, 20):
    for b in range(1, 20):
        for c in range(1, 20):
            if a ** 2 + b ** 2 == c ** 2:
                print(a, b, c)

3 4 5
4 3 5
5 12 13
6 8 10
8 6 10
8 15 17
9 12 15
12 5 13
12 9 15
15 8 17

## Exercise 5
Is the number 87,649 a member of a sequence defined as every 113th integer from 0 to 100,000

In [9]:
r = range(0, 100000, 113)
87649 in r

False

## training
Write a function that takes a single string (word) as argument. The function must return an ordered list containing the indexes of all capital letters in the string.

In [6]:
def capitals(word):
    uppers = []
    for i in range(len(word)):
        if word[i].isupper():
            uppers.append(i)
    return uppers

In [11]:
capitals("SoLeDad")

[0, 2, 4]

In [12]:
def capitals(word):
    return [i for (i, c) in enumerate(word) if c.isupper()]

In [13]:
capitals("MuSeLla")

[0, 2, 4]

## Exercise 13
Create a list of three items and assign it to variable a. Concatenate it to itself 4 times.

In [14]:
a = [1, 2, 3]
a * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

## 2
This program tests the life of an evaporator containing a gas.

We know the content of the evaporator (content in ml), the percentage of foam or gas lost every day (evap_per_day) and the threshold (threshold) in percentage beyond which the evaporator is no longer useful. All numbers are strictly positive.

The program reports the nth day (as an integer) on which the evaporator will be out of use.

In [1]:
def evaporator(content, evap_per_day, threshold):
    n = 0
    current = 100
    percent = 1 - evap_per_day / 100.0
    while current > threshold:
        current *= percent
        n += 1
    return n

In [2]:
import math

def evaporator(content, evap_per_day, threshold):
    return math.ceil(math.log(threshold / 100.0) / math.log(1.0 - evap_per_day / 100.0))

## Exercise 15
Use a method chain to do the following to the given string: Strip each letter 'a' from the left side and then switch the case of each letter (from lower to upper and from upper to lower).

In [3]:
test_string = 'aaaa TOO many aaaaaaaaa'
test_string.lstrip('a').swapcase()

' too MANY AAAAAAAAA'

## Exercise 13
Find and use a method that will strip away all the exclamation points from either end of the following string.

In [4]:
s = '!!!!a string with a dull message!!!!'
s.strip('!')

'a string with a dull message'

## 3 codewars
Instructions
Output
Given an integer as input, can you round it to the next (meaning, "higher") multiple of 5?

In [3]:
def round_to_next5(n):
    while n%5!=0:
        n+=1
    return n

In [9]:
round_to_next5(3)

5

In [11]:
import math

def round_to_next5(n):
    
    return math.ceil(n/5.0) * 5

In [12]:
round_to_next5(2)

5

In [13]:
def round_to_next5(n):
    return n if n%5 == 0 else round_to_next5(n+1)

In [14]:
round_to_next5(7)

10

In [17]:
def round_to_next5(n):
    x, y = divmod(n, 5)
    return (x + (y > 0)) * 5

In [20]:
def round_to_next5(3)

SyntaxError: invalid syntax (<ipython-input-20-d63df34f55ac>, line 1)

## Codewars
The two oldest ages function/method needs to be completed. It should take an array of numbers as its argument and return the two highest numbers within the array. The returned value should be an array in the format [second oldest age, oldest age].

The order of the numbers passed in could be any order. The array will always include at least 2 items.

In [4]:
def two_oldest_ages(ages):
    return sorted(ages)[-2:]

In [10]:
two_oldest_ages([23,45,67,345])

[67, 345]

In [6]:
from heapq import nlargest

def two_oldest_ages(ages):
    return sorted(nlargest(2,ages))

In [11]:
two_oldest_ages([20,34,33,57])

[34, 57]

In [12]:
def two_oldest_ages(ages):
    mass = []
    for i in range(2):
        mass.append(max(ages))
        ages.remove(max(ages))
    return sorted(mass)

In [15]:
two_oldest_ages([23,4,678])

[23, 678]

## Exercise 8
In the following code, both list_1 and list_2 are defined to have the same items. Mutate list_1. Does list_2 also get mutated?

In [17]:
list_1 = [1, 3, 5]
list_2 = [1, 3, 5]
list_1[0] = -99
list_2

[1, 3, 5]

## Exercise 29
Create a report similar to the one in the String Formatting section of this chapter with the following financial information. Make columns for company, shares, earnings, and earnings per share.

Use 'EPS' as the column name for earnings per share
Center-align the column names
Use 12 as the width for each column
Display shares and earnings in scientific notation
Limit all numeric fields to two decimal places
Calculate EPS within the replacement field

In [18]:
# company
c1 = 'Apple'
c2 = 'Sclumberger'
# shares
s1 = 2345123776
s2 = 1955452766
# earnings
e1 = 5100000000
e2 = -899233640.33

In [19]:
print(f'{"Company":^12}|{"Shares":^12}|{"Earnings":^12}|{"EPS":^12}')
print('-' * 51)
print(f'{c1:<12}|{s1:>12.2e}|{e1:>12.2e}|{e1 / s1:>12.2f}')
print(f'{c2:<12}|{s2:>12.2e}|{e2:>12.2e}|{e2 / s2:>12.2f}')

  Company   |   Shares   |  Earnings  |    EPS
---------------------------------------------------
Apple       |    2.35e+09|    5.10e+09|        2.17
Sclumberger |    1.96e+09|   -8.99e+08|       -0.46

In [4]:
import numpy as np

def factorial (n):
    if n>12 or n<0:
        raise ValueError
    x = list(range(1,n+1))
    j = np.prod(x)
    return j 
factorial(5)

120

In [1]:
squared = []
for i in range(5):
    squared.append(i**2)
squared

[0, 1, 4, 9, 16]

In [3]:
n=int(input())
for i in range(n):
    print (i**2)

5
0
1
4
9
16

Given an integer,n, perform the following conditional actions:

- If n is odd, print Weird
- If n is even and in the inclusive range of 2 to 5 , print Not Weird
- If n is even and in the inclusive range of 6 to 20, print Weird
- If n is even and greater than 20, print Not Weird

In [7]:
n = 240
if n % 16 != 0:
    print ("Weird")
elif n % 16 == 0 and 2 < n <5:
    print ("Not Weird")
elif n % 16 == 0 and 6 < n <20:
    print ("Weird")
elif n % 16 == 0 and n> 20:
    print ("Not Weird")

Not Weird

In [14]:
import sys


N = int(raw_input().strip())

if (N%2):
    print ("Weird")
elif (N>=2 and N<=5):
    print ("Not Weird")
elif (N>=6 and N<=20):
    print ("Weird")
else: print ("Not Weird")

NameError: name 'raw_input' is not defined

In [15]:
a = int(input())

20

## Task
The provided code stub reads two integers from STDIN, a and b. Add code to print three lines where:

- The first line contains the sum of the two numbers.
- The second line contains the difference of the two numbers (first - second).
- The third line contains the product of the two numbers.

In [ ]:
a = int(input())
b = int(input())
print (a + b)
print (a - b)
print (a * b)

In [31]:
a = [2,3,4,5,6,7]

In [34]:
m = max(a[0],a[1])
m

3

In [28]:
list1 = [10, 20, 4, 45, 99]
 
mx=max(list1[0],list1[1])

In [29]:
mx

20

## execise

In [37]:
records = [("sole",24),("can",20),("silvio",50)]

In [38]:
x = []
for i in records:
    x.append(i[1])
    z = min(x)
for y in records:
    if y[1] == z:
        print(y[0])

can

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [40]:
for i in range(1500,2701):
    if i%7 == 0 and i%5 == 0:
        print (i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695