I will do some practice with Time Series. A Series is STATIONARY when the following statical averages are COSTANT:

- MEAN
- VARIANCE
- AUTOCORRELATION

If one of theese statistical concepts are not CONSTANT mean that there is not stationarity. 
Also a TIME SERIES is not STATIONARY if there is a TREND

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
brk = pd.read_csv('/Users/soledadmusella/Desktop/time-series-practice/brk_stock_data_ copy.csv',skiprows=14)
brk.tail()

             date       open       high        low      close  volume
10105  2020-04-13  290950.01  290950.01  279060.00  282800.00     565
10106  2020-04-14  291400.00  291533.33  286392.75  289730.26     672
10107  2020-04-15  284500.00  284500.00  281201.01  283750.00     562
10108  2020-04-16  283750.00  283750.99  278800.00  282281.99     779
10109  2020-04-17  289585.01  289585.01  283600.00  284400.00     819