# Write a Python program to calculate the length of a string

In [8]:
def string_length(str1):
    count = 0
    for char in str1:
        count += 1
    return count
print(string_length('soledad'))

7

## Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string

In [9]:
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(chars_mix_up('abc', 'xyz'))

xyc abz

## Write a Python function that takes a list of words and returns the length of the longest one

In [12]:
def find_longest_word(words_list):
    word_len = []
    for n in words_list:
        word_len.append((len(n), n))
    word_len.sort()
    return word_len[-1][1]

print(find_longest_word(["SOLEDAD", "IRENE", "MARIA"]))

SOLEDAD

## Sum all the items in a list

In [2]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([10,40,-80]))

-30

## Multiplies all the items in a list

In [5]:
def multiply_list(items):
    tot = 1
    for x in items:
        tot *= x
    return tot
print(multiply_list([4,2,-8,5,-3]))

960

## Write a Python program to get the smallest number from a list.

In [1]:
def smallest_num_in_list( list ):
    min = list[ 0 ]
    for a in list:
        if a < min:
            min = a
    return min
print(smallest_num_in_list([4, 2, -10, 1]))

-10

## Write a Python program to remove duplicates from a list

In [2]:
a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

## Check a list is empty or not

In [3]:
l = []
if not l:
  print("List is empty")

List is empty

## Write a Python program to clone or copy a list

In [1]:
original_list = [10, 22, 44, 23, 4]
new_list = list(original_list)
print(original_list)
print(new_list)

[10, 22, 44, 23, 4]
[10, 22, 44, 23, 4]

## Write a Python program to find the list of words that are longer than n from a given list of words

In [2]:
def long_words(n, str):
    word_len = []
    txt = str.split(" ")
    for x in txt:
        if len(x) > n:
            word_len.append(x)
    return word_len	
print(long_words(3, "The quick brown fox jumps over the lazy dog"))

['quick', 'brown', 'jumps', 'over', 'lazy']

## Write a Python function that takes two lists and returns True if they have at least one common member.

In [3]:
def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

True
None

## Write a Python program to print a specified list after removing the 0th, 4th and 5th elements

In [7]:
colors = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [9]:
colors = [x for (i,x) in enumerate(colors) if i not in (0,4,5)]
print(colors)

['Green', 'White', 'Black']

## Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [1]:
num = [7,8, 120, 25, 44, 20, 27]
num = [x for x in num if x%2!=0]
print(num)

[7, 25, 27]

## Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30

In [5]:
def printValues():
l = list()
for i in range(1,21):
l.append(i**2)
print(l[:5])
print(l[-5:])

printValues()

IndentationError: expected an indented block (<ipython-input-5-8f6c8d8df985>, line 2)

## Write a Python program to get the difference between the two lists.

In [6]:
list1 = [4, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]

In [7]:
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

[9, 3, 5, 8, 1, 2, 6]

## find the sum of all numbers stored in a list

In [57]:
c = [1,2,3,4,5,6,7,8,9,10]

In [58]:
result=[]

In [59]:
for item in c:
    result = sum+item
result

58

### In your choice of language, write a program that prints the numbers ranging from one to 50.

But for multiples of three, print "Fizz" instead of the number and for the multiples of five, print "Buzz." For numbers which are multiples of both three and five, print "FizzBuzz"

In [12]:
for item in range(51):
        if item%3 == 0 and item% 5==0:
            print ("FizzBuzz") 
        elif item%3==0:
            print ("Fizz")
        elif item%5==0:
            print("Buzz")
return(item)

FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz

SyntaxError: 'return' outside function (<ipython-input-12-ece576e9c62e>, line 8)

In [1]:
numbers = list(range(0, 30))

In [14]:
new_list = []
for num in numbers:
    if len(new_list) > 4:
        print(f'We have enough even numbers in new_list ({len(new_list)}). break will stop the for loop now')
        break
    elif num % 2 == 0:
        new_list.append(num)
    elif num % 2 != 0:
        continue 
    print('i never get executed')
    print(num, 'is even.')

i never get executed
0 is even.
i never get executed
2 is even.
i never get executed
4 is even.
i never get executed
6 is even.
i never get executed
8 is even.
We have enough even numbers in new_list (5). break will stop the for loop now

In [8]:
list(range(0,5))

[0, 1, 2, 3, 4]

### Built-in Functions

In [16]:
# True since 1,3 and 4 (at least one) is true
l = [1, 3, 4, 0]
print(any(l))

True

In [19]:
m = [0,False]
print(any(m))

False

The all() method returns True when all elements in the given iterable are true. If not, it returns False.

In [21]:
z = [1,2,3,4,5,0]

In [23]:
print(all(z))

False

In [26]:
q = [1,2,3,4,5]

In [27]:
print(all(q))

True

The enumerate() method adds counter to an iterable and returns it (the enumerate object)

In [28]:
grocery = ['bread', 'milk', 'butter']

for item in enumerate(grocery):
  print(item)

(0, 'bread')
(1, 'milk')
(2, 'butter')

In [31]:
data_scientist = "Soledad Musella"

In [32]:
print("Hello my name is {}".format(data_scientist))

Hello my name is Soledad Musella

Write a Python function to find the Max of three numbers

In [38]:
c= [5,7,8]

In [42]:
def maxnum():
    return max(c)

In [43]:
maxnum()

8

Write a Python function to sum all the numbers in a list

In [45]:
l = [8, 2, 3, 0, 7]

In [47]:
def sumn():
    return sum(l)

In [48]:
sumn()

20

Write a Python function to multiply all the numbers in a list

In [51]:
def mult():
    for i in l:
        return i*i

In [52]:
mult()

64

In [56]:
number_50 = 50
my_number = None
if number_50 > 100:
    less_than_50 = 100
    # if number_50 is greater than 100, assign the `my_number` variable to the number 100
elif number_50 > 50:
    less_than_50 = 50
    # if number_50 is greater than 50, assign the `my_number` variable to the number 50
else:
    less_than_50 = 0
    # else assign the `my_number` variable to 0

In [58]:
temperature = 85
is_it_hot = None
if temperature > 80:
    print ("Is hot")
else:
    print ("Not hot")

Is hot

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [3]:
thisdict["model"]

'Mustang'

In [4]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

Change the "year" to 2018:

In [9]:
thisdict["year"]=2018

In [10]:
thisdict.values()

dict_values(['Ford', 'Mustang', 2018])

Print all key names in the dictionary, one by one:

In [23]:
for key in thisdict:
    print (key)

brand
model
color

In [15]:
len(thisdict)

3

In [17]:
thisdict["color"]="red"

In [18]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}

In [19]:
thisdict.pop('year')

2018

In [20]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'color': 'red'}

In [22]:
9!=8

True

In [24]:
# modulus operator

In [25]:
40%2

0

In [26]:
40%3

1

In [20]:
a = ["a","v","c","v","z","e","r","t","b"]

In [21]:
print(list(enumerate(a)))

[(0, 'a'), (1, 'v'), (2, 'c'), (3, 'v'), (4, 'z'), (5, 'e'), (6, 'r'), (7, 't'), (8, 'b')]

In [22]:
sorted(a)

['a', 'b', 'c', 'e', 'r', 't', 'v', 'v', 'z']

In [23]:
v = [1,2,33,54,51,6,77,8,19,9,11,12,]

In [24]:
sorted(v)

[1, 2, 6, 8, 9, 11, 12, 19, 33, 51, 54, 77]

In [26]:
v[1:3]

[2, 33]

In [27]:
sum(v)

283

In [28]:
def zip(*iterables):
    # zip('ABCD', 'xy') --> Ax By
    sentinel = object()
    iterators = [iter(it) for it in iterables]
    while iterators:
        result = []
        for it in iterators:
            elem = next(it, sentinel)
            if elem is sentinel:
                return
            result.append(elem)
        yield tuple(result)

In [1]:
A = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
f = 1
print(A)
for i in range(0, 3):
    f *= 10
    for j in range(0, 3):
       A[i][j] *= f
print(A)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[10, 20, 30], [400, 500, 600], [7000, 8000, 9000]]

In [3]:
for letter in 'abcdefghilmnopqrstuvz':  
    if letter == 'e' or letter == 's': 
         continue
    print ('Current Letter :', letter)

Current Letter : a
Current Letter : b
Current Letter : c
Current Letter : d
Current Letter : f
Current Letter : g
Current Letter : h
Current Letter : i
Current Letter : l
Current Letter : m
Current Letter : n
Current Letter : o
Current Letter : p
Current Letter : q
Current Letter : r
Current Letter : t
Current Letter : u
Current Letter : v
Current Letter : z

In [4]:
# List of numbers
numbers = [5, 4, 1, 20, 44, 32, 5, 14, 65]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
	sum = sum+val

    
print("The sum is", sum)

The sum is 190

In [7]:
numbers_list = [5, 8, 9,10,15]
words_list = ['school', 'pen', 'nation',"cold"]

for number in numbers_list:
    print(number)
    for letter in words_list:
        print(letter)

5
school
pen
nation
cold
8
school
pen
nation
cold
9
school
pen
nation
cold
10
school
pen
nation
cold
15
school
pen
nation
cold

In [9]:
list_of_lists = [['horses', 'bears', 'dogs','cats',"rabbits"],[7, 3, 9],[0.3, 0.7, 0.4]]

for list in list_of_lists:
    for item in list:
        print(item)

horses
bears
dogs
cats
rabbits
7
3
9
0.3
0.7
0.4

In [2]:
soccer_match = [
  { "home_team": True,
    "away_team": False,
    "country": "France",
    "num_passes": 484,
    "passes_completed": 423,
    "fouls_committed": 16,
    "colors": ["blue", "white", "red"],
    "players": [
      {
        "name": "Hugo LLORIS",
        "captain": True,
        "shirt_number": 1,
        "position": "Goalie"
      },
      {
        "name": "Benjamin PAVARD",
        "captain": False,"shirt_number": 2,
        "position": "Defender"
      },
      {
        "name": "Raphael VARANE",
        "captain": False,
        "shirt_number": 4,
        "position": "Defender"
      },
      {
        "name": "Samuel UMTITI",
        "captain": False,
        "shirt_number": 5,
        "position": "Defender"
      },
      {
        "name": "Paul POGBA",
        "captain": False,"shirt_number": 6,
        "position": "Midfield"
      },
      {
        "name": "Antoine GRIEZMANN",
        "captain": False,
        "shirt_number": 7,
        "position": "Forward"
      },
      {
        "name": "Kylian MBAPPE",
        "captain": False,
        "shirt_number": 10,
        "position": "Forward"
      },
      {
        "name": "Ousmane DEMBELE",
        "captain": False,
        "shirt_number": 11, "position": "Forward"
      },
      {
        "name": "Corentin TOLISSO",
        "captain": False,
        "shirt_number": 12,
        "position": "Midfield"
      },
      {
        "name": "Ngolo KANTE",
        "captain": False,
        "shirt_number": 13,
        "position": "Midfield"
      },
      {
        "name": "Lucas HERNANDEZ",
        "captain": False,
        "shirt_number": 21,
        "position": "Defender" }
    ],
  },
  { "home_team": False,
    "away_team": True,
    "country": "Australia",
    "num_passes": 390,
    "passes_completed": 332,
    "fouls_committed": 19,
    "colors": ["green", "gold"],
    "players": [
      {
        "name": "Mathew RYAN",
        "captain": False,
        "shirt_number": 1,
        "position": "Goalie"
      },{
        "name": "Mark MILLIGAN",
        "captain": False,
        "shirt_number": 5,
        "position": "Defender"
      },
      {
        "name": "Mathew LECKIE",
        "captain": False,
        "shirt_number": 7,
        "position": "Forward"
      },
      {
        "name": "Robbie KRUSE",
        "captain": False,
        "shirt_number": 10,
        "position": "Forward"
      }, {
        "name": "Andrew NABBOUT",
        "captain": False,
        "shirt_number": 11,
        "position": "Forward"
      },
      {
        "name": "Aaron MOOY",
        "captain": False,
        "shirt_number": 13,
        "position": "Midfield"
      },
      {
        "name": "Mile JEDINAK",
        "captain": True,
        "shirt_number": 15,
        "position": "Midfield"
      },
      {  "name": "Aziz BEHICH",
        "captain": False,
        "shirt_number": 16,
        "position": "Defender"
      },
      {
        "name": "Joshua RISDON",
        "captain": False,
        "shirt_number": 19,
        "position": "Defender"
      },
      {
        "name": "Trent SAINSBURY",
        "captain": False,
        "shirt_number": 20,"position": "Defender"
      },
      {
        "name": "Tom ROGIC",
        "captain": False,
        "shirt_number": 23,
        "position": "Midfield"
      }
    ]
  }
]

iterate over the soccer_match list to create a new list with the name of the country for each team.

In [7]:
countries=[]
for country in soccer_match:
    countries.append(country["country"]) 
countries

['France', 'Australia']

Iterate over the soccer_match list to create a new list with the colors for each team this should be only one list containing strings for each of the country's colors.

In [8]:
colors=[]
for col in soccer_match:
    colors.append(col["colors"])

colors

[['blue', 'white', 'red'], ['green', 'gold']]

Iterate over the soccer_match list to create a new list with the players from each team. players should be a single list containing the dictionaries for each of the country's players.

In [9]:
players=[]

In [10]:
players = []

for team in soccer_match:
    for player in team['players']:
        players.append(player)
players

[{'name': 'Hugo LLORIS',
  'captain': True,
  'shirt_number': 1,
  'position': 'Goalie'},
 {'name': 'Benjamin PAVARD',
  'captain': False,
  'shirt_number': 2,
  'position': 'Defender'},
 {'name': 'Raphael VARANE',
  'captain': False,
  'shirt_number': 4,
  'position': 'Defender'},
 {'name': 'Samuel UMTITI',
  'captain': False,
  'shirt_number': 5,
  'position': 'Defender'},
 {'name': 'Paul POGBA',
  'captain': False,
  'shirt_number': 6,
  'position': 'Midfield'},
 {'name': 'Antoine GRIEZMANN',
  'captain': False,
  'shirt_number': 7,
  'position': 'Forward'},
 {'name': 'Kylian MBAPPE',
  'captain': False,
  'shirt_number': 10,
  'position': 'Forward'},
 {'name': 'Ousmane DEMBELE',
  'captain': False,
  'shirt_number': 11,
  'position': 'Forward'},
 {'name': 'Corentin TOLISSO',
  'captain': False,
  'shirt_number': 12,
  'position': 'Midfield'},
 {'name': 'Ngolo KANTE',
  'captain': False,
  'shirt_number': 13,
  'position': 'Midfield'},
 {'name': 'Lucas HERNANDEZ',
  'captain': False,
  'shirt_number': 21,
  'position': 'Defender'},
 {'name': 'Mathew RYAN',
  'captain': False,
  'shirt_number': 1,
  'position': 'Goalie'},
 {'name': 'Mark MILLIGAN',
  'captain': False,
  'shirt_number': 5,
  'position': 'Defender'},
 {'name': 'Mathew LECKIE',
  'captain': False,
  'shirt_number': 7,
  'position': 'Forward'},
 {'name': 'Robbie KRUSE',
  'captain': False,
  'shirt_number': 10,
  'position': 'Forward'},
 {'name': 'Andrew NABBOUT',
  'captain': False,
  'shirt_number': 11,
  'position': 'Forward'},
 {'name': 'Aaron MOOY',
  'captain': False,
  'shirt_number': 13,
  'position': 'Midfield'},
 {'name': 'Mile JEDINAK',
  'captain': True,
  'shirt_number': 15,
  'position': 'Midfield'},
 {'name': 'Aziz BEHICH',
  'captain': False,
  'shirt_number': 16,
  'position': 'Defender'},
 {'name': 'Joshua RISDON',
  'captain': False,
  'shirt_number': 19,
  'position': 'Defender'},
 {'name': 'Trent SAINSBURY',
  'captain': False,
  'shirt_number': 20,
  'position': 'Defender'},
 {'name': 'Tom ROGIC',
  'captain': False,
  'shirt_number': 23,
  'position': 'Midfield'}]

You are asked to square every digit of a number and concatenate them.

In [48]:
def square_digits(num):
    ret = ""
    for x in str(num):
        ret += str(int(x)**2)
    return int(ret)

In [49]:
square_digits(922)

8144

You are going to be given a word. Your job is to return the middle character of the word. If the word's length is odd, return the middle character. If the word's length is even, return the middle 2 characters.

In [52]:
def get_middle(s):
    strLen = len(s)
    if(strLen%2==0):#even
        return s[strLen/2-1:strLen/2+1]
    else:#odd
        return s[strLen/2]

In [53]:
get_middle("word")

TypeError: slice indices must be integers or None or have an __index__ method

In [66]:
def get_middle(s):
    if len(s) % 2 == 0:
        iA = int((len(s) / 2) - 1)
        iB = int((len(s) / 2) + 1)
        return s[iA:iB] 
    else: return s[int(len(s) / 2)]

In [67]:
get_middle("soledad")

'e'

In [57]:
get_middle("flatiron")

'ti'

In [68]:
# concat

In [70]:
import pandas as pd

In [81]:
color = pd.DataFrame({'A': ['yellow', 'green', 'red', 'blue'],
                     'B': ['purple', 'orange', 'silver', "black"],
                     'C': ['white', 'pink', 'gold', 'grey']},
                     index=[0, 1, 2,3])

countries = pd.DataFrame({'A': ['Italy', 'Greece', 'Spain', 'France'],
                     'B': ['Germany', 'UK', 'Japan', "China"],
                     'C': ['Portugal', 'Russia', 'US', 'Netherlands']},
                     index=[4, 5, 6,7])

cars = pd.DataFrame({'A': ['Ferrari', 'Maserati', 'Mercedes', 'Pagani'],
                     'B': ['Jaguar', 'Volvo', 'Lamborghini', "Seat"],
                     'C': ['Renoult', 'Fiat', 'Nissan', 'Toyota']},
                     index=[8, 9, 10,11])

In [82]:
color

        A       B      C
0  yellow  purple  white
1   green  orange   pink
2     red  silver   gold
3    blue   black   grey

In [83]:
countries

        A        B            C
4   Italy  Germany     Portugal
5  Greece       UK       Russia
6   Spain    Japan           US
7  France    China  Netherlands

In [84]:
cars

           A            B        C
8    Ferrari       Jaguar  Renoult
9   Maserati        Volvo     Fiat
10  Mercedes  Lamborghini   Nissan
11    Pagani         Seat   Toyota

In [94]:
frames = [color,countries,cars]

In [95]:
result= pd.concat([color,countries,cars], axis=1, join="inner")

In [100]:
# Program to filter out only the even items from a list
numbers = [46, 51, 33, 6, 25, 47, 2, 16]

my_list = list(filter(lambda x: (x%2 == 0) , numbers))

print(my_list)

[46, 6, 2, 16]

In [102]:
# Program to double each item in a list using map()

numbers_2 = [1, 3, 6, 7, 10, 13, 14, 17]

my_list_2 = list(map(lambda x: x * 2 , numbers_2))

print(my_list_2)

[2, 6, 12, 14, 20, 26, 28, 34]

In [1]:
if 5 > 4
print ("maggiore")

SyntaxError: invalid syntax (<ipython-input-1-4f0b4bdbaaab>, line 1)

In [2]:
import datetime
x = datetime.datetime.now()
x

datetime.datetime(2020, 9, 4, 9, 8, 27, 993913)

In [3]:
import pandas as pd
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'], 
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

In [7]:
combined_df = pd.concat([df1,df2,df3])

In [8]:
combined_df

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [9]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])

In [11]:
df1_df4=pd.concat([df1,df4],join="inner",axis=1)

In [12]:
df1_df4

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [71]:
import pandas as pd

In [72]:
cards_df = pd.read_csv("/Users/soledadmusella/Desktop/218_1177_bundle_archive/cards.csv",encoding='latin1')
dust_df = pd.read_csv("/Users/soledadmusella/Desktop/218_1177_bundle_archive/dust_costs.csv",encoding='latin1')
entourages_df = pd.read_csv("/Users/soledadmusella/Desktop/218_1177_bundle_archive/entourages.csv",encoding='latin1')
mechanics_df = pd.read_csv("/Users/soledadmusella/Desktop/218_1177_bundle_archive/mechanics.csv",encoding='latin1')
play_requirements_df = pd.read_csv("/Users/soledadmusella/Desktop/218_1177_bundle_archive/play_requirements.csv",encoding='latin1')

In [73]:
columns=[cards_df,dust_df,entourages_df,mechanics_df,play_requirements_df]

In [74]:
for x in columns:
    x.set_index("card_id",inplace=True)

In [75]:
cards_df.head()

,playerClass,type,name,set,text,cost,attack,health,rarity,collectible,flavor,race,how_to_earn,how_to_earn_golden,targeting_arrow_text,faction,durability
card_id,,,,,,,,,,,,,,,,,
KARA_00_07,MAGE,SPELL,Astral Portal,KARA,Summon a random <b>Legendary</b> minion.,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NEW1_008a,DRUID,SPELL,Ancient Teachings,EXPERT1,Draw a card.,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BRM_010t2,DRUID,MINION,Druid of the Flame,BRM,NaN,3.0,2.0,5.0,COMMON,NaN,NaN,BEAST,NaN,NaN,NaN,NaN,NaN
AT_132,NEUTRAL,MINION,Justicar Trueheart,TGT,<b>Battlecry:</b> Replace your starting Hero P...,6.0,6.0,3.0,LEGENDARY,True,It's like putting racing stripes and a giant s...,NaN,NaN,NaN,NaN,NaN,NaN
OG_141,NEUTRAL,MINION,Faceless Behemoth,OG,NaN,10.0,10.0,10.0,COMMON,True,"Rejected names: Forty-Foot Faceless, Big ol' N...",NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
cards_df.groupby("name")

In [76]:
dust_df.head()

                      action  cost
card_id
BRM_010t2    CRAFTING_NORMAL    40
BRM_010t2    CRAFTING_GOLDEN   400
BRM_010t2  DISENCHANT_NORMAL     5
BRM_010t2  DISENCHANT_GOLDEN    50
AT_132       CRAFTING_NORMAL  1600

In [77]:
entourages_df.head()

           entourage_card_id
card_id
KAR_A10_22        KAR_A10_09
KAR_A10_22        KAR_A10_02
KAR_A10_22        KAR_A10_08
KAR_A10_22        KAR_A10_04
KAR_A10_22        KAR_A10_05

In [78]:
mechanics_df.head()

                     mechanic
card_id
AT_132              BATTLECRY
GVG_011a  TAG_ONE_TURN_EFFECT
EX1_583             BATTLECRY
LOE_007t            EVIL_GLOW
LOE_007t   ImmuneToSpellpower

In [79]:
play_requirements_df.head()

                     play_requirement  value
card_id
KARA_00_07       REQ_NUM_MINION_SLOTS      1
PRO_001a         REQ_NUM_MINION_SLOTS      1
NAX1_01          REQ_NUM_MINION_SLOTS      1
DS1h_292_H1           REQ_STEADY_SHOT      0
DS1h_292_H1  REQ_MINION_OR_ENEMY_HERO      0

In [91]:
cards_with_mechanics_df = cards_df.join(mechanics_df,how="inner")

In [92]:
cards_with_mechanics_df.head()

,playerClass,type,name,set,text,cost,attack,health,rarity,collectible,flavor,race,how_to_earn,how_to_earn_golden,targeting_arrow_text,faction,durability,mechanic
card_id,,,,,,,,,,,,,,,,,,
AT_002,MAGE,SPELL,Effigy,TGT,"<b>Secret:</b> When a friendly minion dies, su...",3.0,NaN,NaN,RARE,True,"Burning man, brah.",NaN,NaN,NaN,NaN,NaN,NaN,SECRET
AT_005t,NEUTRAL,MINION,Boar,TGT,<b>Charge</b>,3.0,4.0,2.0,NaN,NaN,NaN,BEAST,NaN,NaN,NaN,NaN,NaN,CHARGE
AT_006,MAGE,MINION,Dalaran Aspirant,TGT,<b>Inspire:</b> Gain <b>Spell Damage +1</b>.,4.0,3.0,5.0,COMMON,True,Is he aspiring or inspiring? Make up your mind!,NaN,NaN,NaN,NaN,NaN,NaN,INSPIRE
AT_007,MAGE,MINION,Spellslinger,TGT,<b>Battlecry:</b> Add a random spell to each p...,3.0,3.0,4.0,COMMON,True,"Does he sling spells, or do his spells linger ...",NaN,NaN,NaN,NaN,NaN,NaN,BATTLECRY
AT_009,MAGE,MINION,Rhonin,TGT,<b>Deathrattle:</b> Add 3 copies of Arcane Mis...,8.0,7.0,7.0,LEGENDARY,True,A masterless shamurai.,NaN,NaN,NaN,NaN,NaN,NaN,DEATHRATTLE

In [4]:
n=int(input())
for i in range(n):
    print (i**2)

5
0
1
4
9
16

In [2]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if year%4==0:
        if year%100==0 and year%400==0:
            leap = True
        else:
            leap = False
    else:
        leap = False
    return leap

In [4]:
is_leap(40)

False

In [5]:
import math
def is_square(n):
    return n > -1 and math.sqrt(n) % 1 == 0

In [6]:
is_square(4)

True

Create a function named divisors/Divisors that takes an integer n > 1 and returns an array with all of the integer's divisors(except for 1 and the number itself), from smallest to largest. If the number is prime return the string '(integer) is prime'.

In [7]:
def divisors(num):
    l = [a for a in range(2,num) if num%a == 0]
    if len(l) == 0:
        return str(num) + " is prime"
    return l

In [8]:
divisors(60)

[2, 3, 4, 5, 6, 10, 12, 15, 20, 30]

## ----------------------------------------------------------------------------------------

Given two integers a and b, which can be positive or negative, find the sum of all the numbers between including them too and return it. If the two numbers are equal return a or b.

In [5]:
# 1
def get_sum(a,b):
    return sum(range(min(a,b), max(a,b)+1))

In [6]:
get_sum(50,-45)

240

In [7]:
get_sum(45,59)

780

In [10]:
#2
def get_sum_second(a, b):
    return (a + b) * (abs(a - b) + 1) // 2 # abs returns the absolute value

In [14]:
get_sum_second(50,-45)

240

In [15]:
get_sum_second(45,59)

780

In [18]:
#3
def get_sum_third(a,b):
    if a>b : a,b = b,a
    return sum(range(a,b+1))

In [19]:
get_sum_third(50,-45)

240

In [20]:
get_sum_third(45,59)

780

## ----------------------------------------------------------------------------------------

You are given an odd-length array of integers, in which all of them are the same, except for one single number.

Complete the method which accepts such an array, and returns that single different number.

In [21]:
def stray(arr):
    for x in arr:
        if arr.count(x) >2:
            return x

In [22]:
stray([3,3,78,3,3,78,78,78,3])

3

In [25]:
def stray1(arr):
    a, b, c = arr[:3]
    if a == b:
        return c
    elif b == c:
        return a
    else:
        return b

In [27]:
stray1([3,3,78,3,3,78,78,78,3])

78

In [14]:
def stray(arr):
    return [x for x in set(arr) if arr.count(x) == 1][0]

In [5]:
stray([3,3,78,3,3])

78

## ----------------------------------------------------------------------------------------

Your task is to write a function which returns the sum of following series upto nth term(parameter).

In [4]:
import numpy as np
import pandas as pd

In [23]:
n= np.array([1 + 1/4 + 1/7 + 1/10 + 1/13 + 1/16]).astype(int)

In [24]:
def series_sum(n):
    return '{:.2f}'.format(sum(1.0/(3 * i + 1) for i in range(n)))

In [25]:
series_sum(n)

TypeError: only integer scalar arrays can be converted to a scalar index

In [26]:
def series_sum(n):
    sum = 0.0
    for i in range(0,n):
        sum += 1 / (1 + 3 * float(i))
    return '%.2f' % sum

## ----------------------------------------------------------------------------------------

The parameter of accum is a string which includes only letters from a..z and A..Z.

In [2]:
def accum(s):
    return '-'.join(c.upper() + c.lower() * i for i, c in enumerate(s))

In [3]:
def accum(s):
    output = ""
    for i in range(len(s)):
        output+=(s[i]*(i+1))+"-"
    return output.title()[:-1]

Your task is to make function, which returns the sum of a sequence of integers.

The sequence is defined by 3 non-negative values: begin, end, step.

If begin value is greater than the end, function should returns 0

In [5]:
def sequence_sum(start, end, step):
    return sum(range(start, end+1, step))

In [6]:
sequence_sum(6, 3, 1)

0

In [9]:
sequence_sum(1, 3, 6)

1

In [14]:
def sequence_sum_again(begin, end, step):
    if begin > end:
        return 0
    else:
        return 1

In [15]:
sequence_sum_again(6, 3, 1)

0

In [16]:
sequence_sum(1, 3, 6)

1

## ----------------------------------------------------------------------------------------

Complete the function that accepts a string parameter, and reverses each word in the string. All spaces in the string should be retained.

In [3]:
def reverse_words_1(str):
    return ' '.join(s[::-1] for s in str.split(' '))

In [4]:
reverse_words_1("soledad")

'dadelos'

In [7]:
def reverse_words_2(str):
  return ' '.join(w[::-1] for w in str.split(' '))

In [8]:
reverse_words_2("soledad")

'dadelos'

In [10]:
def reverse_words_3(str):
  
  newStr = []
  for i in str.split(' '):
      newStr.append(i[::-1])
  return ' '.join(newStr)

In [11]:
reverse_words_3("go for it")

'og rof ti'

In [39]:
def number():
    if n % 3 == 0:
        print("Weird")
    
    else:
        print("ok")

In [40]:
number(15)

TypeError: number() takes 0 positional arguments but 1 was given

## ----------------------------------------------------------------------------------------

Complete the solution so that it returns the greatest sequence of five consecutive digits found within the number given. The number will be passed in as a string of only digits. It should return a five digit integer. The number passed may be as large as 1000 digits.

In [18]:
def solution(digits):
    numlist = [int(digits[i:i+5]) for i in range(0,len(digits)-4)]
    return max(numlist)

In [19]:
solution(364973847433)

TypeError: object of type 'int' has no len()

In [6]:
def solution(digits):
    return int(max(digits[a:a + 5] for a in range(len(digits) - 4)))

In [7]:
solution(364973847473396)

TypeError: object of type 'int' has no len()

In [10]:
def solution(digits):
    maxNum = 0
    for i in range(len(digits)-4):
        curNum = int(digits[i:i+5])
        if curNum > maxNum:
            maxNum = curNum
    return maxNum

In [11]:
solution(2536)

TypeError: object of type 'int' has no len()

## ----------------------------------------------------------------------------------------

Given two numbers and an arithmetic operator (the name of it, as a string), return the result of the two numbers having that operator used on them.

a and b will both be positive integers, and a will always be the first number in the operation, and b always the second.

The four operators are "add", "subtract", "divide", "multiply".

In [8]:
def arithmetic(a, b, operator):
    if operator == "add":
        return a + b
    elif operator == "subtract":
        return a - b
    elif operator == "multiply":
        return a * b
    elif operator == "divide":
        return a / (b * 1.0)

In [10]:
arithmetic(10, 15, "add")

25

In [11]:
arithmetic(10, 15, "subtract")

-5

In [16]:
from operator import add, mul, sub, truediv

In [17]:
def arithmetic1(a, b, operator):
    ops = {'add': add, 'subtract': sub, 'multiply': mul, 'divide': truediv}
    return ops[operator](a, b)

In [18]:
arithmetic1(40, 30, "divide")

1.3333333333333333

In [20]:
arithmetic1(40, 30, "multiply")

1200

## ----------------------------------------------------------------------------------------

Write a function named sumDigits which takes a number as input and returns the sum of the absolute value of each of the number's decimal digits.

In [2]:
def sumDigits(number):
    return sum(int(d) for d in str(abs(number)))

In [3]:
sumDigits(-236446)

25

In [4]:
def sumDigits(number):
    number = abs(number)
    return_number = 0
    
    while number > 0:
        return_number += number % 10
        number = int(number / 10)
        
    return return_number

In [5]:
sumDigits(4647337)

34

In [6]:
def sumDigits(number):
    sum = 0
    for s in str(abs(number)):
        sum+=int(s)
    return sum

In [8]:
sumDigits(-5758)

25

In [9]:
def sumDigits(n):
    n = n if n > 0 else -n
    if n==0: return 0
    sum = 0
    while n>0:
        sum += n%10
        n//=10
    return sum

In [10]:
sumDigits(373839)

33

## ----------------------------------------------------------------------------------------

Make a program that filters a list of strings and returns a list with only your friends name in it.

If a name has exactly 4 letters in it, you can be sure that it has to be a friend of yours! Otherwise, you can be sure he's not...

In [11]:
def friend(x):
    #Code
    names = []
    for name in x:
        if len(name) == 4:
            names.append(name)
    return names

In [12]:
friend(["sole","ciccio","irene","simona"])

['sole']

In [13]:
def friend(x):
    return [i for i in x if len(i) == 4]

In [14]:
friend(["sole","ciccio","irene","simona"])

['sole']

In [8]:
def friend(x):
    return [each for each in x if len(each) == 4]

## ----------------------------------------------------------------------------------------

Mr. Scrooge has a sum of money 'P' that he wants to invest. Before he does, he wants to know how many years 'Y' this sum 'P' has to be kept in the bank in order for it to amount to a desired sum of money 'D'.

The sum is kept for 'Y' years in the bank where interest 'I' is paid yearly. After paying taxes 'T' for the year the new sum is re-invested.

Note to Tax: not the invested principal is taxed, but only the year's accrued interest

In [2]:
def calculate_years(principal, interest, tax, desired):
    years = 0
    
    while principal < desired:
        principal += (interest * principal) * (1 - tax)
        years += 1
        
    return years

In [4]:
calculate_years(1000, 10, 30, 1550)

2

In [2]:
def calculate_years(principal, interest, tax, desired):
    years = 0
    if principal == desired:
        return years
    while principal < desired:
        x = principal * interest
        y = x * tax
        principal = principal + x - y
        years += 1
    return years

In [3]:
calculate_years(1000, 10, 30, 1550)

2

In [4]:
name = 'Soledad'
print('Soledad has ' + str(len(name)) + ' characters')

Soledad has 7 characters

In [5]:
school_mates = range(30)
print(school_mates)
print(len(school_mates))

range(0, 30)
30

In [6]:
print(list(school_mates))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [7]:
for mate in list(school_mates):
    print('Mate ' + str(mate))

Mate 0
Mate 1
Mate 2
Mate 3
Mate 4
Mate 5
Mate 6
Mate 7
Mate 8
Mate 9
Mate 10
Mate 11
Mate 12
Mate 13
Mate 14
Mate 15
Mate 16
Mate 17
Mate 18
Mate 19
Mate 20
Mate 21
Mate 22
Mate 23
Mate 24
Mate 25
Mate 26
Mate 27
Mate 28
Mate 29

In [9]:
print(max(-34, -2, -7, -4, 3, 19, 25, 34, 4, 2))
print(min(-34, -2, -7, -4, 3, 19, 25, 34, 4, 2))

34
-34

In [16]:
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = map (lambda x: x*x, sequences) 
print(list(filtered_result))

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

In [17]:
from functools import reduce
sequences = [1,2,3,4,5]
product = reduce (lambda x, y: x*y, sequences)
print(product)

120

## ----------------------------------------------------------------------------------------

## Exercise 1
How many seconds are there in a century?

In [3]:
60*60*24*365*100

3153600000

## Exercise 2
Write an expression to find the amount of money (as a whole number rounded down to the nearest integer) that each person would get if a one-million dollar lottery was divided equally amongst 436 people.

In [8]:
1000000//436

2293

## Exercise 3
Repeat exercise 2, except use one-trillion dollars. Use the exponentiation operator instead of writing lots of 0's.

In [12]:
10**12//436

2293577981

## Exercise 4
Which is greater: 245 times 99 or 8 raised to the 5th power?

In [28]:
245*99>8**5

False

## Exercise 6
Used a chained comparison to show that 2 raised to the 10th power is greater than 10 raised to the 3rd power which is greater than 31 squared.

In [1]:
2**10>10**3>31**2

True

## Exercise 9
You purchase a phone for 99 dollars. There is 8 percent sales tax. Compute the total price. Use at least three variables to store the information for this problem. Output all the variables at the same time.

In [9]:
phone = 99
tax = 0.08
phone_price = phone * tax + phone
print(phone,tax,phone_price)

99 0.08 106.92

## ----------------------------------------------------------------------------------------

You have to write a function printer_error which given a string will return the error rate of the printer as a string representing a rational whose numerator is the number of errors and the denominator the length of the control string. Don't reduce this fraction to a simpler expression.

In [10]:
from re import sub
def printer_error(s):
    return "{}/{}".format(len(sub("[a-m]",'',s)),len(s))

In [12]:
def printer_error(s):
    errors = 0
    count = len(s)
    for i in s:
        if i > "m":
            errors += 1
    return str(errors) + "/" + str(count)

## Exercise 10
Concatenate two strings together that both have length greater than 1.

In [13]:
"sole"+"dad"

'soledad'

## Exercise 11
Concatenate a non-empty string to an empty string.

In [15]:
"sole"+""

'sole'

## Exercise 12
Replace each occurrence of 'in' with 'out' in the following string.

In [17]:
replace_string = 'it is starting to rain on the inside'
replace_string.replace("in", "out")

'it is startoutg to raout on the outside'

## Exercise 1
Is the following if statement written with correct syntax? If not, why?

In [2]:
x = 5
if x > 0:
print('x is positive')

IndentationError: expected an indented block (<ipython-input-2-fe4f05932bc6>, line 3)

In [3]:
# indetation missing

## Exercise 2
Is the following if statement written with correct syntax? If not, why?

x = 5
if x > 0
    print('x is positive')

In [4]:
# column missing

## Exercise 3
Create an if statement with a condition that evaluates as True. Use the print function as the only line its code block to print a message to the screen.

In [8]:
x = 34
if  x > 6:
    print ("X is positive")

X is positive

## Exercise 4
Change the value of test_string so that the first print function gets triggered.

In [2]:
test_string = 'alfalfa tastes alright'
if test_string.count('a') > 4:
    print("There are more than 4 a's in your string")
elif test_string.find('k') > 10:
    print("The first k occurs after the 11th element")
else:
    print("No info on your string. Please change it")

There are more than 4 a's in your string

## Exercise 5
Change the value of test_string so that the second print function gets triggered.

In [4]:
test_string = 'alfalfa tastes alright'
if test_string.count("f")>9:
    print("there are a lot of f")
elif test_string.count("h")==1:
    print("there us 1 h")
else:
    print("No info on your string. Please change it")

there us 1 h

## Exercise 6
Assign an integer to x. Then, write an expression that returns True if x is either greater than 10 or divisible by 7.

In [9]:
x= 70
if x > 10 or x//7:
    print ("True")
else:
    print ("not True")

True

## Exercise 7
Write an expression that returns True if the last character of a string is not 'a'.

In [12]:
name = "Soledad"
if name[-1]== "a":
    print ("False")
else:
    print ("True")

True

In [1]:
s = 'Soledad'
s[-1] != 'a'

True

In [2]:
s.endswith("a")

False

## Exercise 8
Write a simple program that determines whether someone has enough money to pay for rent. If they have enough money, print out how much is left in the account. If they don't have enough, print out how much they owe. If they have the exact rent, print out a different message. Test your code with different values of rent.

In [21]:
def rent_to_pay(rent):
    salary = 1000
    if rent > salary:
        print ("500 left in the b.a")
    elif rent == salary:
        print ("0 left in b.a")
    else:
        print ("200 to own")

In [22]:
rent_to_pay(10000)

500 left in the b.a

In [8]:
rent = 454.88
account = 645.22

if account > rent:
    print(f'You can pay rent. You have {account - rent:.2f} left')
elif account < rent:
    print(f'You cannot pay rent. You owe {rent - account:.2f} left')
else:
    print('You have exactly enough to pay rent. You have 0!')

You can pay rent. You have 190.34 left

## Exercise 9
Use a for-loop to sum up all the numbers from 1 to 1,000.

In [12]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
total=0
for i in range(1001):
    total +=i
total

500500

## Exercise 10
Use a for-loop to calculate the mean (average) from the given list of values.

In [25]:
s = [3,4,6,8,9]
total = 0
for i in s:
    total +=i
total/len(s)

6.0

## Exercise 5
Assign the third item in list a a different value of the same type. Output the list.

In [5]:
a = [-99, 3.14, True, 'python']

In [8]:
a[2]=False

In [9]:
a

[-99, 3.14, False, 'python']

## Exercise 12
Create a list then use the extend method to add items to it.

In [10]:
test_list = [1, 2, 3]
test_list.extend(['more', 'items', 'to', 'add'])
test_list

[1, 2, 3, 'more', 'items', 'to', 'add']

## Exercise 28
Assign a float to the variable a that has at least 5 digits to the right of the decimal. Create an f-string that uses left-alignment with a width of 20 and a precision of 2 and uses a fixed-point float. Fill any unused width with the '@' character.

In [13]:

1
a = 156.887347
2
f'{a:@<20.2f}'
'156.89@@@@@@@@@@@@@@'

'156.89@@@@@@@@@@@@@@'

## Exercise 13
Create a list of three items and assign it to variable a. Concatenate it to itself 4 times.

In [17]:
a = [3,4,5]
a*4

[3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5]

## Exercise 11
Calculate the sum of the squared values of each of the first 100 positive integers.

In [4]:
squares = 0
for i in range(101):
    squares += i ** 2

In [5]:
squares

338350

## ----------------------------------------------------------------------------------------

In this kata you will create a function that takes a list of non-negative integers and strings and returns a new list with the strings filtered out.

In [8]:
l = [-2,-3,-4,"sole","dad"]

In [9]:
def filter_list(l):
  'return a new list with the strings filtered out'
  return [i for i in l if not isinstance(i, str)]

In [10]:
filter_list(l)

[-2, -3, -4]

In [12]:
q = [-24,-56,"sun","sky"]

In [13]:
def filter_list(q):
  'return a new list with the strings filtered out'
  return [e for e in l if isinstance(e, int)]

In [14]:
filter_list(q)

[-2, -3, -4]

## ----------------------------------------------------------------------------------------

Create a function that returns the sum of the two lowest positive numbers given an array of minimum 4 positive integers. No floats or non-positive integers will be passed.

In [3]:
import numpy as np

In [4]:
numbers = np.array([3,4,5,7,8,9])

In [6]:
def sum_two_smallest_numbers(numbers):
    return sum(sorted(numbers)[:2])

In [7]:
sum_two_smallest_numbers(numbers)

7

## ----------------------------------------------------------------------------------------

In [9]:
def sum_two_smallest_numbers(numbers):
    smallest1 = None
    smallest2 = None 
    for n in numbers: 
        if not smallest1 or n < smallest1: 
            smallest2 = smallest1
            smallest1 = n 
        elif not smallest2 or n < smallest2: 
            smallest2 = n 
    return smallest1 + smallest2

## ----------------------------------------------------------------------------------------

Write a function that returns both the minimum and maximum number of the given list/array.

In [7]:
a = [3,34,567,2,4,5,6,789,12,2,3,45]

In [10]:
def min_max(a):
  return [min(a), max(a)]

In [11]:
min_max(a)

[2, 789]

In [12]:
def min_max(a):
  # Too easy, but requires two pases
  # return[min(lst), max(lst)]
  
  # Single pass:
  l, u = None, None
  for n in lst:
      if l is None or n < l:
          l = n
      if u is None or n > u:
          u = n
  return [l, u]

In [13]:
def min_max(a):
  min, max = a[0], a[0]
  
  for x in a:
    if x > max:
      max = x
    elif x < min:
      min = x
  
  return [min, max]

In [14]:
min_max(a)

[2, 789]

## ----------------------------------------------------------------------------------------

In this Kata, your function receives an array of integers as input. Your task is to determine whether the numbers are in ascending order. An array is said to be in ascending order if there are no two adjacent integers where the left integer exceeds the right integer in value.

For the purposes of this Kata, you may assume that all inputs are valid, i.e. non-empty arrays containing only integers.

Note that an array of 1 integer is automatically considered to be sorted in ascending order since all (zero) adjacent pairs of integers satisfy the condition that the left integer does not exceed the right integer in value. An empty list is considered a degenerate case and therefore will not be tested in this Kata - feel free to raise an Issue if you see such a list being tested.

In [15]:
def in_asc_order(arr):
    return arr == sorted(arr)

In [16]:
def in_asc_order(arr):
    return sorted(arr) == arr

## ----------------------------------------------------------------------------------------

Write a function that takes an array of strings as an argument and returns a sorted array containing the same strings, ordered from shortest to longest.

In [4]:
arr = ["sole","dad","sky","blue","computer","london"]

In [3]:
def sort_by_length(arr):
    return sorted(arr, key=len)

In [6]:
sort_by_length(arr)

['dad', 'sky', 'sole', 'blue', 'london', 'computer']

Your task is to write function findSum.

Upto and including n, this function will return the sum of all multiples of 3 and 5.

In [7]:
def find(n):
    return sum(e for e in range(1, n+1) if e % 3 == 0 or e % 5 == 0)

## ----------------------------------------------------------------------------------------

## Exercise 3

Create a range that defines a sequence of every fourth integer from 100 to, but not including 200.

In [1]:
range(100, 200, 4)

range(100, 200, 4)

## Exercise 4
Create a range that defines a sequence of every 20th integer from 0 to, but not including 200.

In [3]:
list(range(0,200,20))

[0, 20, 40, 60, 80, 100, 120, 140, 160, 180]

## Exercise 5
Is the number 87,649 a member of a sequence defined as every 113th integer from 0 to 100,000

In [5]:
range(0,100,113) == 87,649

(False, 649)

In [8]:
r = range(0,100,113)

In [9]:
87,649 in r

(87, False)

## Exercise 6
What is the 100th integer from the sequence defined as every 113th integer from 0 to 100,000

In [14]:
r = range(0,100000,113)

In [15]:
r[100]

11300

## Exercise 9
Turn the string s into the integer 4 using two constructors.

In [2]:
s = "4.6"

In [4]:
int(float(s))

4

## Exercise 12

What is the 50th number in the integer sequence that begins at 813 and steps up by 41.

In [9]:
b = range(813,10000,41)
b[50]

2863

## Exercise 3

Create an if statement with a condition that evaluates as True. Use the print function as the only line its code block to print a message to the screen.

In [15]:
x = 5
if x == 5:
    print ("x is positive")

x is positive

## Exercise 6

Assign an integer to x. Then, write an expression that returns True if x is either greater than 10 or divisible by 7.

In [23]:
x = 28
if x> 10 or x // 7:
    print ("True")

True

## Exercise 7

Write an expression that returns True if the last character of a string is not 'a'.

In [25]:
name = "Soledad"
if name[-1]!= "a":
    print ("True")

True

## Exercise 9

Use a for-loop to sum up all the numbers from 1 to 1,000.

In [5]:
total = 0
for i in range(1,1001):
    total += i
total

500500

## Exercise 10

Use a for-loop to calculate the mean (average) from the given list of values.

In [38]:
aver = 0
v = [99, 143, 32, 412]
for i in v:
    aver += i
aver/len(v)

171.5

## Exercise 11

Calculate the sum of the squared values of each of the first 100 positive integers.

In [42]:
total = 0
for i in range(101):
    total+= i**2

In [43]:
total

338350

## Exercise 12

Use a for-loop to iterate over the first 10 positive integers, printing out their squared value only if the value is greater than 50.

In [50]:
for i in range(11):
    value = i**2
    if value > 50:
        print (value)

64
81
100

## Exercise 13

Use a for-loop to iterate over every 25th positive integer up to 200, appending its squared value to a list.

In [53]:
a = []
for i in range(1,201,25):
    a.append(i**2)

In [54]:
a

[1, 676, 2601, 5776, 10201, 15876, 22801, 30976]

## Exercise 14

Calculate the variance of the following list of values. To calculate the variance, first calculate the mean and assign it to a variable. Then, iterate through each value and find the difference between it and the mean. Square this difference. Finally, sum the squares of all these differences and divide by the total number of values.

In [3]:
v = [3,4,5,6,7,8,9,2]
for i in v:
    mean = 0
    mean += i
m = mean/len(v)

In [4]:
m

0.25

In [14]:
for i in v:
    diff = []
    diff.append(i - m)

In [15]:
diff

[1.75]

## Exercise 15

Use a for-loop to iterate over every integer from 100 to 999. Assign the first and last digits to variables (Hint: use integer division and the modulus operator). Create a list of only the numbers where the first digit is exactly 7 more than the last digit. Output the first and last 5 numbers of this list to verify that it is correct.

In [28]:
a = []
for i in range(100, 1000):
    first = i//100
    last = i % 10
    if first == last + 7:
        a.append(i)
a[:5]

[700, 710, 720, 730, 740]

## Exercise 16

Use a while loop to find the sum of all integers between 0 and a given integer x. Output result.

In [33]:
x = 20
total = 0
while x > 0:
    total += x
    x -= 1
total

210

## Exercise 17

Assign 'x' a positive integer. Use a while loop to find the sum of all integers between half of x and x.

In [1]:
x = 15
half = x / 2
total = 0
while x >= half:
    total += x
    x -= 1
total

92

## Exercise 18

Use nested for-loops in this exercise. Write an outer for-loop to iterate over the integers 0 through 9. Within this for-loop, write an inner for-loop to iterate over the integers 0 through 4. Create two separate variables to count the total number of iterations for each loop and output their values. Is it what you expect?

In [3]:
count_outer = 0
count_inner = 0
for i in range(10):
    count_outer += 1
    for j in range (5):
        count_inner +=1
count_outer,count_inner

(10, 50)

## Exercise 19

A well-known property of right triangles is that the hypotenuse squared equals the sum of the squares of the other two sides. This is known as the Pythagorean theorem and is usually written as  𝑎2+𝑏2=𝑐2 . A Pythagorean triple is a set of three integers that satisfy the theorem. For instance, 3, 4, and 5 are a Pythagorean triple as 9 + 16 = 25. Can you find all the Pythagorean triples where all sides are less than 20.

In [5]:
for a in range (1,20):
    for b in range (1,20):
        for c in range(1,20):
            if a**2+b**2 == c**2:
                print (a,b,c)

3 4 5
4 3 5
5 12 13
6 8 10
8 6 10
8 15 17
9 12 15
12 5 13
12 9 15
15 8 17

## Exercise 20

When rolling two dice, there are six combinations that make a total of 7 and two combinations that make a total of 11. Theoretically, 7 should be rolled three times as often as 11 (6 vs 2 combinations). Simulate the rolling of 1,000 dice to verify that this ratio is likely correct

In [15]:
import random
count_7 = 0
count_11 = 0
for i in range(1,1001):
        total = random.randint(1, 6) + random.randint(1, 6)
        if total == 7:
            count_7  1
        if total == 11:
            count_11 += 1
print (f"7 is rolled:{count_7} ,11 is rolled:{count_11}")

7 is rolled:168 ,11 is rolled:61

## Exercise 21

Create a simulation to estimate the average number of rolls of two dice it takes until you get a total of 7 or 11. This will require nested loops.

In [3]:
import random
rolls = 0
n = 1000
for i in range(n):
    count = 0
    while True:
        count += 1
        total = random.randint(1, 6) + random.randint(1, 6)
        if total in [7, 11]:
            rolls += count
            break
        
print(f"Estimated Average {rolls / n}")

Estimated Average 4.514

## Exercise 24

Use a list comprehension to create a list that divides each of the integers 0 through 9 by 4.

In [4]:
[x/4 for x in range(10)]

[0.0, 0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75, 2.0, 2.25]

## Exercise 1

Create three different variables with three different data types then use the type function to verify that the types are indeed different

In [8]:
a = True
b = 4
c = 4.5

type(a), type(b), type(c)

(bool, int, float)

So, essentially, we can use continue to skip operation on elements and code below continue. We can then use break when we have a condition that tells us we want to stop the process altogether.

## ----------------------------------------------------------------------------------------

While loop execises

In [9]:
slices_of_pie = 6
slices_eaten = 0

for slice in range(slices_of_pie):
    print('Another slice eaten!')
    slices_eaten += 1
    print('Now eaten {} slices!'.format(slices_eaten))

Another slice eaten!
Now eaten 1 slices!
Another slice eaten!
Now eaten 2 slices!
Another slice eaten!
Now eaten 3 slices!
Another slice eaten!
Now eaten 4 slices!
Another slice eaten!
Now eaten 5 slices!
Another slice eaten!
Now eaten 6 slices!

In [15]:
slices_of_pie = 6
slices_eaten = 0

while slices_eaten < slices_of_pie:
    print('Another slice eaten!')
    slices_eaten += 1
    print ("Now eaten {} slices!".format(slices_eaten))

Another slice eaten!
Now eaten 1 slices!
Another slice eaten!
Now eaten 2 slices!
Another slice eaten!
Now eaten 3 slices!
Another slice eaten!
Now eaten 4 slices!
Another slice eaten!
Now eaten 5 slices!
Another slice eaten!
Now eaten 6 slices!

## ----------------------------------------------------------------------------------------

Agnes has 1468 seconds allotted for breakfast today
Agnes will be making herself 5 pancakes
Each pancake takes 27 seconds to cook on each side
It takes an average of 5 seconds to either flip a pancake, add it or remove it from the pan
There is only room for one pancake at a time on the frying pan
Remember there are two sides to every pancake!
After Agnes cooks the 5 pancakes, how much time will she have left over to eat them? Use a while loop to find out below

In [21]:
time_for_breakfast = 1468 
number_of_cooked_pancakes = 0

while time_for_breakfast > 0 and number_of_cooked_pancakes < 5:
    
    time_for_breakfast -= sum([5,27,5,27,5]) 
    number_of_cooked_pancakes += 1
time_for_breakfast

1123

In [22]:
  time_for_breakfast -= sum([5,27,5,27,5])

In [23]:
  time_for_breakfast

1054

In [24]:
sum([5,27,5,27,5])

69

In [25]:
1468 - sum([5,27,5,27,5])

1399

In [1]:
270

270

## For Loops
Fast forward 5 years, and Agnes has become an international competitive eating superstar. Using her starpower, she decides to open up a restaurant chain. As part of a promotional deal, at a grand opening, she tells her fans that if they are part of the first 30 people to the restaurant, there is a 50% chance that they'll receive free food. Agnes executes this by giving each of the first 30 people a number ranging from 0-29. All people who have an even number will receive free food, and all those with odd numbers will sadly remain hungry. Use a while loop to create two lists below of:

In [5]:
line_of_hungry_patrons = list(range(0,30))
fed_patrons = []
for patron in line_of_hungry_patrons:
    if patron % 2 == 0:
        line_of_hungry_patrons.remove(patron)
        fed_patrons.append(patron)
print('Those hungry:', line_of_hungry_patrons)
print('Those fed:', fed_patrons)

Those hungry: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]
Those fed: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

## Break And continue Statements

In [1]:
people = [
    {'name': "Daniel", 'age': 29, 'job': "Engineer", 'pet': "Cat", 'pet_name': "Gato"}, 
    {'name': "Katie", 'age': 30, 'job': "Teacher", 'pet': "Dog", 'pet_name': "Frank"},
    {'name': "Owen", 'age': 26, 'job': "Sales person", 'pet': "Cat", 'pet_name': "Cosmo"},
    {'name': "Josh", 'age': 22, 'job': "Student", 'pet': "Cat", 'pet_name': "Chat"},
    {'name': "Estelle", 'age': 35, 'job': "French Diplomat", 'pet': "Dog", 'pet_name': "Gabby"},
    {'name': "Gustav", 'age': 24, 'job': "Brewer", 'pet': "Dog", 'pet_name': "Helen"}
]

Use a for loop to find the first person in the list of people that has a dog as their pet. The iteration count shouldn't exceed 2. In your loop add a print statement that says

 "{person} has a dog! Had to check {number} of records to find a dog owner."

In [3]:
first_dog_person = None
iteration_count = 0
for person in people:
    iteration_count += 1
    if person['pet'] == 'Dog':
        print('{} has a dog! Had to check {} records to find a dog owner.'.format(person['name'], iteration_count))
        break

Katie has a dog! Had to check 2 records to find a dog owner.

Now, use a for loop to create a list of all the cat owners who are under the age of 28.

In [12]:
cat_owner = []
for person in people:
    if person["pet"]== "Cat" and person["age"]< 28:
        cat_owner.append(person)
cat_owner

[{'name': 'Owen',
  'age': 26,
  'job': 'Sales person',
  'pet': 'Cat',
  'pet_name': 'Cosmo'},
 {'name': 'Josh',
  'age': 22,
  'job': 'Student',
  'pet': 'Cat',
  'pet_name': 'Chat'}]