## Write a Python program to calculate the length of a string

In [8]:
def string_length(str1):
    count = 0
    for char in str1:
        count += 1
    return count
print(string_length('soledad'))

7

## Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string

In [9]:
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(chars_mix_up('abc', 'xyz'))

xyc abz

## Write a Python function that takes a list of words and returns the length of the longest one

In [12]:
def find_longest_word(words_list):
    word_len = []
    for n in words_list:
        word_len.append((len(n), n))
    word_len.sort()
    return word_len[-1][1]

print(find_longest_word(["SOLEDAD", "IRENE", "MARIA"]))

SOLEDAD

## Sum all the items in a list

In [2]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([10,40,-80]))

-30

## Multiplies all the items in a list

In [5]:
def multiply_list(items):
    tot = 1
    for x in items:
        tot *= x
    return tot
print(multiply_list([4,2,-8,5,-3]))

960

## Write a Python program to get the smallest number from a list.

In [1]:
def smallest_num_in_list( list ):
    min = list[ 0 ]
    for a in list:
        if a < min:
            min = a
    return min
print(smallest_num_in_list([4, 2, -10, 1]))

-10

## Write a Python program to remove duplicates from a list

In [2]:
a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

## Check a list is empty or not

In [3]:
l = []
if not l:
  print("List is empty")

List is empty

## Write a Python program to clone or copy a list

In [1]:
original_list = [10, 22, 44, 23, 4]
new_list = list(original_list)
print(original_list)
print(new_list)

[10, 22, 44, 23, 4]
[10, 22, 44, 23, 4]

## Write a Python program to find the list of words that are longer than n from a given list of words

In [2]:
def long_words(n, str):
    word_len = []
    txt = str.split(" ")
    for x in txt:
        if len(x) > n:
            word_len.append(x)
    return word_len	
print(long_words(3, "The quick brown fox jumps over the lazy dog"))

['quick', 'brown', 'jumps', 'over', 'lazy']

## Write a Python function that takes two lists and returns True if they have at least one common member.

In [3]:
def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

True
None

## Write a Python program to print a specified list after removing the 0th, 4th and 5th elements

In [7]:
colors = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [9]:
colors = [x for (i,x) in enumerate(colors) if i not in (0,4,5)]
print(colors)

['Green', 'White', 'Black']

## Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [1]:
num = [7,8, 120, 25, 44, 20, 27]
num = [x for x in num if x%2!=0]
print(num)

[7, 25, 27]

## Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30

In [5]:
def printValues():
l = list()
for i in range(1,21):
l.append(i**2)
print(l[:5])
print(l[-5:])

printValues()

IndentationError: expected an indented block (<ipython-input-5-8f6c8d8df985>, line 2)

## Write a Python program to get the difference between the two lists.

In [6]:
list1 = [4, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]

In [7]:
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

[9, 3, 5, 8, 1, 2, 6]

## find the sum of all numbers stored in a list

In [57]:
c = [1,2,3,4,5,6,7,8,9,10]

In [58]:
result=[]

In [59]:
for item in c:
    result = sum+item
result

58

### In your choice of language, write a program that prints the numbers ranging from one to 50.

But for multiples of three, print "Fizz" instead of the number and for the multiples of five, print "Buzz." For numbers which are multiples of both three and five, print "FizzBuzz"

In [12]:
for item in range(51):
        if item%3 == 0 and item% 5==0:
            print ("FizzBuzz") 
        elif item%3==0:
            print ("Fizz")
        elif item%5==0:
            print("Buzz")
return(item)

FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz

SyntaxError: 'return' outside function (<ipython-input-12-ece576e9c62e>, line 8)

In [1]:
numbers = list(range(0, 30))

In [14]:
new_list = []
for num in numbers:
    if len(new_list) > 4:
        print(f'We have enough even numbers in new_list ({len(new_list)}). break will stop the for loop now')
        break
    elif num % 2 == 0:
        new_list.append(num)
    elif num % 2 != 0:
        continue 
    print('i never get executed')
    print(num, 'is even.')

i never get executed
0 is even.
i never get executed
2 is even.
i never get executed
4 is even.
i never get executed
6 is even.
i never get executed
8 is even.
We have enough even numbers in new_list (5). break will stop the for loop now

In [8]:
list(range(0,5))

[0, 1, 2, 3, 4]

### Built-in Functions

In [16]:
# True since 1,3 and 4 (at least one) is true
l = [1, 3, 4, 0]
print(any(l))

True

In [19]:
m = [0,False]
print(any(m))

False

The all() method returns True when all elements in the given iterable are true. If not, it returns False.

In [21]:
z = [1,2,3,4,5,0]

In [23]:
print(all(z))

False

In [26]:
q = [1,2,3,4,5]

In [27]:
print(all(q))

True

The enumerate() method adds counter to an iterable and returns it (the enumerate object)

In [28]:
grocery = ['bread', 'milk', 'butter']

for item in enumerate(grocery):
  print(item)

(0, 'bread')
(1, 'milk')
(2, 'butter')

In [31]:
data_scientist = "Soledad Musella"

In [32]:
print("Hello my name is {}".format(data_scientist))

Hello my name is Soledad Musella

Write a Python function to find the Max of three numbers

In [38]:
c= [5,7,8]

In [42]:
def maxnum():
    return max(c)

In [43]:
maxnum()

8

Write a Python function to sum all the numbers in a list

In [45]:
l = [8, 2, 3, 0, 7]

In [47]:
def sumn():
    return sum(l)

In [48]:
sumn()

20

Write a Python function to multiply all the numbers in a list

In [51]:
def mult():
    for i in l:
        return i*i

In [52]:
mult()

64

In [56]:
number_50 = 50
my_number = None
if number_50 > 100:
    less_than_50 = 100
    # if number_50 is greater than 100, assign the `my_number` variable to the number 100
elif number_50 > 50:
    less_than_50 = 50
    # if number_50 is greater than 50, assign the `my_number` variable to the number 50
else:
    less_than_50 = 0
    # else assign the `my_number` variable to 0

In [58]:
temperature = 85
is_it_hot = None
if temperature > 80:
    print ("Is hot")
else:
    print ("Not hot")

Is hot

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [3]:
thisdict["model"]

'Mustang'

In [4]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

Change the "year" to 2018:

In [9]:
thisdict["year"]=2018

In [10]:
thisdict.values()

dict_values(['Ford', 'Mustang', 2018])

Print all key names in the dictionary, one by one:

In [23]:
for key in thisdict:
    print (key)

brand
model
color

In [15]:
len(thisdict)

3

In [17]:
thisdict["color"]="red"

In [18]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}

In [19]:
thisdict.pop('year')

2018

In [20]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'color': 'red'}

In [22]:
9!=8

True

In [24]:
# modulus operator

In [25]:
40%2

0

In [26]:
40%3

1

In [20]:
a = ["a","v","c","v","z","e","r","t","b"]

In [21]:
print(list(enumerate(a)))

[(0, 'a'), (1, 'v'), (2, 'c'), (3, 'v'), (4, 'z'), (5, 'e'), (6, 'r'), (7, 't'), (8, 'b')]

In [22]:
sorted(a)

['a', 'b', 'c', 'e', 'r', 't', 'v', 'v', 'z']

In [23]:
v = [1,2,33,54,51,6,77,8,19,9,11,12,]

In [24]:
sorted(v)

[1, 2, 6, 8, 9, 11, 12, 19, 33, 51, 54, 77]

In [26]:
v[1:3]

[2, 33]

In [27]:
sum(v)

283

In [28]:
def zip(*iterables):
    # zip('ABCD', 'xy') --> Ax By
    sentinel = object()
    iterators = [iter(it) for it in iterables]
    while iterators:
        result = []
        for it in iterators:
            elem = next(it, sentinel)
            if elem is sentinel:
                return
            result.append(elem)
        yield tuple(result)

In [1]:
A = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
f = 1
print(A)
for i in range(0, 3):
    f *= 10
    for j in range(0, 3):
       A[i][j] *= f
print(A)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[10, 20, 30], [400, 500, 600], [7000, 8000, 9000]]

In [3]:
for letter in 'abcdefghilmnopqrstuvz':  
    if letter == 'e' or letter == 's': 
         continue
    print ('Current Letter :', letter)

Current Letter : a
Current Letter : b
Current Letter : c
Current Letter : d
Current Letter : f
Current Letter : g
Current Letter : h
Current Letter : i
Current Letter : l
Current Letter : m
Current Letter : n
Current Letter : o
Current Letter : p
Current Letter : q
Current Letter : r
Current Letter : t
Current Letter : u
Current Letter : v
Current Letter : z

In [4]:
# List of numbers
numbers = [5, 4, 1, 20, 44, 32, 5, 14, 65]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
	sum = sum+val

    
print("The sum is", sum)

The sum is 190

In [7]:
numbers_list = [5, 8, 9,10,15]
words_list = ['school', 'pen', 'nation',"cold"]

for number in numbers_list:
    print(number)
    for letter in words_list:
        print(letter)

5
school
pen
nation
cold
8
school
pen
nation
cold
9
school
pen
nation
cold
10
school
pen
nation
cold
15
school
pen
nation
cold

In [9]:
list_of_lists = [['horses', 'bears', 'dogs','cats',"rabbits"],[7, 3, 9],[0.3, 0.7, 0.4]]

for list in list_of_lists:
    for item in list:
        print(item)

horses
bears
dogs
cats
rabbits
7
3
9
0.3
0.7
0.4

In [2]:
soccer_match = [
  { "home_team": True,
    "away_team": False,
    "country": "France",
    "num_passes": 484,
    "passes_completed": 423,
    "fouls_committed": 16,
    "colors": ["blue", "white", "red"],
    "players": [
      {
        "name": "Hugo LLORIS",
        "captain": True,
        "shirt_number": 1,
        "position": "Goalie"
      },
      {
        "name": "Benjamin PAVARD",
        "captain": False,"shirt_number": 2,
        "position": "Defender"
      },
      {
        "name": "Raphael VARANE",
        "captain": False,
        "shirt_number": 4,
        "position": "Defender"
      },
      {
        "name": "Samuel UMTITI",
        "captain": False,
        "shirt_number": 5,
        "position": "Defender"
      },
      {
        "name": "Paul POGBA",
        "captain": False,"shirt_number": 6,
        "position": "Midfield"
      },
      {
        "name": "Antoine GRIEZMANN",
        "captain": False,
        "shirt_number": 7,
        "position": "Forward"
      },
      {
        "name": "Kylian MBAPPE",
        "captain": False,
        "shirt_number": 10,
        "position": "Forward"
      },
      {
        "name": "Ousmane DEMBELE",
        "captain": False,
        "shirt_number": 11, "position": "Forward"
      },
      {
        "name": "Corentin TOLISSO",
        "captain": False,
        "shirt_number": 12,
        "position": "Midfield"
      },
      {
        "name": "Ngolo KANTE",
        "captain": False,
        "shirt_number": 13,
        "position": "Midfield"
      },
      {
        "name": "Lucas HERNANDEZ",
        "captain": False,
        "shirt_number": 21,
        "position": "Defender" }
    ],
  },
  { "home_team": False,
    "away_team": True,
    "country": "Australia",
    "num_passes": 390,
    "passes_completed": 332,
    "fouls_committed": 19,
    "colors": ["green", "gold"],
    "players": [
      {
        "name": "Mathew RYAN",
        "captain": False,
        "shirt_number": 1,
        "position": "Goalie"
      },{
        "name": "Mark MILLIGAN",
        "captain": False,
        "shirt_number": 5,
        "position": "Defender"
      },
      {
        "name": "Mathew LECKIE",
        "captain": False,
        "shirt_number": 7,
        "position": "Forward"
      },
      {
        "name": "Robbie KRUSE",
        "captain": False,
        "shirt_number": 10,
        "position": "Forward"
      }, {
        "name": "Andrew NABBOUT",
        "captain": False,
        "shirt_number": 11,
        "position": "Forward"
      },
      {
        "name": "Aaron MOOY",
        "captain": False,
        "shirt_number": 13,
        "position": "Midfield"
      },
      {
        "name": "Mile JEDINAK",
        "captain": True,
        "shirt_number": 15,
        "position": "Midfield"
      },
      {  "name": "Aziz BEHICH",
        "captain": False,
        "shirt_number": 16,
        "position": "Defender"
      },
      {
        "name": "Joshua RISDON",
        "captain": False,
        "shirt_number": 19,
        "position": "Defender"
      },
      {
        "name": "Trent SAINSBURY",
        "captain": False,
        "shirt_number": 20,"position": "Defender"
      },
      {
        "name": "Tom ROGIC",
        "captain": False,
        "shirt_number": 23,
        "position": "Midfield"
      }
    ]
  }
]

iterate over the soccer_match list to create a new list with the name of the country for each team.

In [7]:
countries=[]
for country in soccer_match:
    countries.append(country["country"]) 
countries

['France', 'Australia']

Iterate over the soccer_match list to create a new list with the colors for each team this should be only one list containing strings for each of the country's colors.

In [8]:
colors=[]
for col in soccer_match:
    colors.append(col["colors"])

colors

[['blue', 'white', 'red'], ['green', 'gold']]

Iterate over the soccer_match list to create a new list with the players from each team. players should be a single list containing the dictionaries for each of the country's players.

In [9]:
players=[]

In [10]:
players = []

for team in soccer_match:
    for player in team['players']:
        players.append(player)
players

[{'name': 'Hugo LLORIS',
  'captain': True,
  'shirt_number': 1,
  'position': 'Goalie'},
 {'name': 'Benjamin PAVARD',
  'captain': False,
  'shirt_number': 2,
  'position': 'Defender'},
 {'name': 'Raphael VARANE',
  'captain': False,
  'shirt_number': 4,
  'position': 'Defender'},
 {'name': 'Samuel UMTITI',
  'captain': False,
  'shirt_number': 5,
  'position': 'Defender'},
 {'name': 'Paul POGBA',
  'captain': False,
  'shirt_number': 6,
  'position': 'Midfield'},
 {'name': 'Antoine GRIEZMANN',
  'captain': False,
  'shirt_number': 7,
  'position': 'Forward'},
 {'name': 'Kylian MBAPPE',
  'captain': False,
  'shirt_number': 10,
  'position': 'Forward'},
 {'name': 'Ousmane DEMBELE',
  'captain': False,
  'shirt_number': 11,
  'position': 'Forward'},
 {'name': 'Corentin TOLISSO',
  'captain': False,
  'shirt_number': 12,
  'position': 'Midfield'},
 {'name': 'Ngolo KANTE',
  'captain': False,
  'shirt_number': 13,
  'position': 'Midfield'},
 {'name': 'Lucas HERNANDEZ',
  'captain': False,
  'shirt_number': 21,
  'position': 'Defender'},
 {'name': 'Mathew RYAN',
  'captain': False,
  'shirt_number': 1,
  'position': 'Goalie'},
 {'name': 'Mark MILLIGAN',
  'captain': False,
  'shirt_number': 5,
  'position': 'Defender'},
 {'name': 'Mathew LECKIE',
  'captain': False,
  'shirt_number': 7,
  'position': 'Forward'},
 {'name': 'Robbie KRUSE',
  'captain': False,
  'shirt_number': 10,
  'position': 'Forward'},
 {'name': 'Andrew NABBOUT',
  'captain': False,
  'shirt_number': 11,
  'position': 'Forward'},
 {'name': 'Aaron MOOY',
  'captain': False,
  'shirt_number': 13,
  'position': 'Midfield'},
 {'name': 'Mile JEDINAK',
  'captain': True,
  'shirt_number': 15,
  'position': 'Midfield'},
 {'name': 'Aziz BEHICH',
  'captain': False,
  'shirt_number': 16,
  'position': 'Defender'},
 {'name': 'Joshua RISDON',
  'captain': False,
  'shirt_number': 19,
  'position': 'Defender'},
 {'name': 'Trent SAINSBURY',
  'captain': False,
  'shirt_number': 20,
  'position': 'Defender'},
 {'name': 'Tom ROGIC',
  'captain': False,
  'shirt_number': 23,
  'position': 'Midfield'}]

You are asked to square every digit of a number and concatenate them.

In [48]:
def square_digits(num):
    ret = ""
    for x in str(num):
        ret += str(int(x)**2)
    return int(ret)

In [49]:
square_digits(922)

8144

You are going to be given a word. Your job is to return the middle character of the word. If the word's length is odd, return the middle character. If the word's length is even, return the middle 2 characters.

In [52]:
def get_middle(s):
    strLen = len(s)
    if(strLen%2==0):#even
        return s[strLen/2-1:strLen/2+1]
    else:#odd
        return s[strLen/2]

In [53]:
get_middle("word")

TypeError: slice indices must be integers or None or have an __index__ method

In [66]:
def get_middle(s):
    if len(s) % 2 == 0:
        iA = int((len(s) / 2) - 1)
        iB = int((len(s) / 2) + 1)
        return s[iA:iB] 
    else: return s[int(len(s) / 2)]

In [67]:
get_middle("soledad")

'e'

In [57]:
get_middle("flatiron")

'ti'

In [68]:
# concat

In [70]:
import pandas as pd

In [81]:
color = pd.DataFrame({'A': ['yellow', 'green', 'red', 'blue'],
                     'B': ['purple', 'orange', 'silver', "black"],
                     'C': ['white', 'pink', 'gold', 'grey']},
                     index=[0, 1, 2,3])

countries = pd.DataFrame({'A': ['Italy', 'Greece', 'Spain', 'France'],
                     'B': ['Germany', 'UK', 'Japan', "China"],
                     'C': ['Portugal', 'Russia', 'US', 'Netherlands']},
                     index=[4, 5, 6,7])

cars = pd.DataFrame({'A': ['Ferrari', 'Maserati', 'Mercedes', 'Pagani'],
                     'B': ['Jaguar', 'Volvo', 'Lamborghini', "Seat"],
                     'C': ['Renoult', 'Fiat', 'Nissan', 'Toyota']},
                     index=[8, 9, 10,11])

In [82]:
color

        A       B      C
0  yellow  purple  white
1   green  orange   pink
2     red  silver   gold
3    blue   black   grey

In [83]:
countries

        A        B            C
4   Italy  Germany     Portugal
5  Greece       UK       Russia
6   Spain    Japan           US
7  France    China  Netherlands

In [84]:
cars

           A            B        C
8    Ferrari       Jaguar  Renoult
9   Maserati        Volvo     Fiat
10  Mercedes  Lamborghini   Nissan
11    Pagani         Seat   Toyota

In [94]:
frames = [color,countries,cars]

In [95]:
result= pd.concat([color,countries,cars], axis=1, join="inner")

In [100]:
# Program to filter out only the even items from a list
numbers = [46, 51, 33, 6, 25, 47, 2, 16]

my_list = list(filter(lambda x: (x%2 == 0) , numbers))

print(my_list)

[46, 6, 2, 16]

In [102]:
# Program to double each item in a list using map()

numbers_2 = [1, 3, 6, 7, 10, 13, 14, 17]

my_list_2 = list(map(lambda x: x * 2 , numbers_2))

print(my_list_2)

[2, 6, 12, 14, 20, 26, 28, 34]

In [1]:
if 5 > 4
print ("maggiore")

SyntaxError: invalid syntax (<ipython-input-1-4f0b4bdbaaab>, line 1)

In [2]:
import datetime
x = datetime.datetime.now()
x

datetime.datetime(2020, 9, 4, 9, 8, 27, 993913)

In [3]:
import pandas as pd
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'], 
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

In [7]:
combined_df = pd.concat([df1,df2,df3])

In [8]:
combined_df

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [9]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])

In [11]:
df1_df4=pd.concat([df1,df4],join="inner",axis=1)

In [12]:
df1_df4

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [71]:
import pandas as pd

In [72]:
cards_df = pd.read_csv("/Users/soledadmusella/Desktop/218_1177_bundle_archive/cards.csv",encoding='latin1')
dust_df = pd.read_csv("/Users/soledadmusella/Desktop/218_1177_bundle_archive/dust_costs.csv",encoding='latin1')
entourages_df = pd.read_csv("/Users/soledadmusella/Desktop/218_1177_bundle_archive/entourages.csv",encoding='latin1')
mechanics_df = pd.read_csv("/Users/soledadmusella/Desktop/218_1177_bundle_archive/mechanics.csv",encoding='latin1')
play_requirements_df = pd.read_csv("/Users/soledadmusella/Desktop/218_1177_bundle_archive/play_requirements.csv",encoding='latin1')

In [73]:
columns=[cards_df,dust_df,entourages_df,mechanics_df,play_requirements_df]

In [74]:
for x in columns:
    x.set_index("card_id",inplace=True)

In [75]:
cards_df.head()

,playerClass,type,name,set,text,cost,attack,health,rarity,collectible,flavor,race,how_to_earn,how_to_earn_golden,targeting_arrow_text,faction,durability
card_id,,,,,,,,,,,,,,,,,
KARA_00_07,MAGE,SPELL,Astral Portal,KARA,Summon a random <b>Legendary</b> minion.,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NEW1_008a,DRUID,SPELL,Ancient Teachings,EXPERT1,Draw a card.,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BRM_010t2,DRUID,MINION,Druid of the Flame,BRM,NaN,3.0,2.0,5.0,COMMON,NaN,NaN,BEAST,NaN,NaN,NaN,NaN,NaN
AT_132,NEUTRAL,MINION,Justicar Trueheart,TGT,<b>Battlecry:</b> Replace your starting Hero P...,6.0,6.0,3.0,LEGENDARY,True,It's like putting racing stripes and a giant s...,NaN,NaN,NaN,NaN,NaN,NaN
OG_141,NEUTRAL,MINION,Faceless Behemoth,OG,NaN,10.0,10.0,10.0,COMMON,True,"Rejected names: Forty-Foot Faceless, Big ol' N...",NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
cards_df.groupby("name")

In [76]:
dust_df.head()

                      action  cost
card_id
BRM_010t2    CRAFTING_NORMAL    40
BRM_010t2    CRAFTING_GOLDEN   400
BRM_010t2  DISENCHANT_NORMAL     5
BRM_010t2  DISENCHANT_GOLDEN    50
AT_132       CRAFTING_NORMAL  1600

In [77]:
entourages_df.head()

           entourage_card_id
card_id
KAR_A10_22        KAR_A10_09
KAR_A10_22        KAR_A10_02
KAR_A10_22        KAR_A10_08
KAR_A10_22        KAR_A10_04
KAR_A10_22        KAR_A10_05

In [78]:
mechanics_df.head()

                     mechanic
card_id
AT_132              BATTLECRY
GVG_011a  TAG_ONE_TURN_EFFECT
EX1_583             BATTLECRY
LOE_007t            EVIL_GLOW
LOE_007t   ImmuneToSpellpower

In [79]:
play_requirements_df.head()

                     play_requirement  value
card_id
KARA_00_07       REQ_NUM_MINION_SLOTS      1
PRO_001a         REQ_NUM_MINION_SLOTS      1
NAX1_01          REQ_NUM_MINION_SLOTS      1
DS1h_292_H1           REQ_STEADY_SHOT      0
DS1h_292_H1  REQ_MINION_OR_ENEMY_HERO      0

In [91]:
cards_with_mechanics_df = cards_df.join(mechanics_df,how="inner")

In [92]:
cards_with_mechanics_df.head()

,playerClass,type,name,set,text,cost,attack,health,rarity,collectible,flavor,race,how_to_earn,how_to_earn_golden,targeting_arrow_text,faction,durability,mechanic
card_id,,,,,,,,,,,,,,,,,,
AT_002,MAGE,SPELL,Effigy,TGT,"<b>Secret:</b> When a friendly minion dies, su...",3.0,NaN,NaN,RARE,True,"Burning man, brah.",NaN,NaN,NaN,NaN,NaN,NaN,SECRET
AT_005t,NEUTRAL,MINION,Boar,TGT,<b>Charge</b>,3.0,4.0,2.0,NaN,NaN,NaN,BEAST,NaN,NaN,NaN,NaN,NaN,CHARGE
AT_006,MAGE,MINION,Dalaran Aspirant,TGT,<b>Inspire:</b> Gain <b>Spell Damage +1</b>.,4.0,3.0,5.0,COMMON,True,Is he aspiring or inspiring? Make up your mind!,NaN,NaN,NaN,NaN,NaN,NaN,INSPIRE
AT_007,MAGE,MINION,Spellslinger,TGT,<b>Battlecry:</b> Add a random spell to each p...,3.0,3.0,4.0,COMMON,True,"Does he sling spells, or do his spells linger ...",NaN,NaN,NaN,NaN,NaN,NaN,BATTLECRY
AT_009,MAGE,MINION,Rhonin,TGT,<b>Deathrattle:</b> Add 3 copies of Arcane Mis...,8.0,7.0,7.0,LEGENDARY,True,A masterless shamurai.,NaN,NaN,NaN,NaN,NaN,NaN,DEATHRATTLE

In [4]:
n=int(input())
for i in range(n):
    print (i**2)

5
0
1
4
9
16

In [2]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if year%4==0:
        if year%100==0 and year%400==0:
            leap = True
        else:
            leap = False
    else:
        leap = False
    return leap

In [4]:
is_leap(40)

False

In [5]:
import math
def is_square(n):
    return n > -1 and math.sqrt(n) % 1 == 0

In [6]:
is_square(4)

True

Create a function named divisors/Divisors that takes an integer n > 1 and returns an array with all of the integer's divisors(except for 1 and the number itself), from smallest to largest. If the number is prime return the string '(integer) is prime'.

In [7]:
def divisors(num):
    l = [a for a in range(2,num) if num%a == 0]
    if len(l) == 0:
        return str(num) + " is prime"
    return l

In [8]:
divisors(60)

[2, 3, 4, 5, 6, 10, 12, 15, 20, 30]

## ----------------------------------------------------------------------------------------

Given two integers a and b, which can be positive or negative, find the sum of all the numbers between including them too and return it. If the two numbers are equal return a or b.

In [5]:
# 1
def get_sum(a,b):
    return sum(range(min(a,b), max(a,b)+1))

In [6]:
get_sum(50,-45)

240

In [7]:
get_sum(45,59)

780

In [10]:
#2
def get_sum_second(a, b):
    return (a + b) * (abs(a - b) + 1) // 2 # abs returns the absolute value

In [14]:
get_sum_second(50,-45)

240

In [15]:
get_sum_second(45,59)

780

In [18]:
#3
def get_sum_third(a,b):
    if a>b : a,b = b,a
    return sum(range(a,b+1))

In [19]:
get_sum_third(50,-45)

240

In [20]:
get_sum_third(45,59)

780

## ----------------------------------------------------------------------------------------

You are given an odd-length array of integers, in which all of them are the same, except for one single number.

Complete the method which accepts such an array, and returns that single different number.

In [21]:
def stray(arr):
    for x in arr:
        if arr.count(x) >2:
            return x

In [22]:
stray([3,3,78,3,3,78,78,78,3])

3

In [25]:
def stray1(arr):
    a, b, c = arr[:3]
    if a == b:
        return c
    elif b == c:
        return a
    else:
        return b

In [27]:
stray1([3,3,78,3,3,78,78,78,3])

78

In [14]:
def stray(arr):
    return [x for x in set(arr) if arr.count(x) == 1][0]

In [5]:
stray([3,3,78,3,3])

78

## ----------------------------------------------------------------------------------------

Your task is to write a function which returns the sum of following series upto nth term(parameter).

In [4]:
import numpy as np
import pandas as pd

In [23]:
n= np.array([1 + 1/4 + 1/7 + 1/10 + 1/13 + 1/16]).astype(int)

In [24]:
def series_sum(n):
    return '{:.2f}'.format(sum(1.0/(3 * i + 1) for i in range(n)))

In [25]:
series_sum(n)

TypeError: only integer scalar arrays can be converted to a scalar index

In [26]:
def series_sum(n):
    sum = 0.0
    for i in range(0,n):
        sum += 1 / (1 + 3 * float(i))
    return '%.2f' % sum

## ----------------------------------------------------------------------------------------

The parameter of accum is a string which includes only letters from a..z and A..Z.

In [2]:
def accum(s):
    return '-'.join(c.upper() + c.lower() * i for i, c in enumerate(s))

In [3]:
def accum(s):
    output = ""
    for i in range(len(s)):
        output+=(s[i]*(i+1))+"-"
    return output.title()[:-1]

Your task is to make function, which returns the sum of a sequence of integers.

The sequence is defined by 3 non-negative values: begin, end, step.

If begin value is greater than the end, function should returns 0

In [5]:
def sequence_sum(start, end, step):
    return sum(range(start, end+1, step))

In [6]:
sequence_sum(6, 3, 1)

0

In [9]:
sequence_sum(1, 3, 6)

1

In [14]:
def sequence_sum_again(begin, end, step):
    if begin > end:
        return 0
    else:
        return 1

In [15]:
sequence_sum_again(6, 3, 1)

0

In [16]:
sequence_sum(1, 3, 6)

1

## ----------------------------------------------------------------------------------------

Complete the function that accepts a string parameter, and reverses each word in the string. All spaces in the string should be retained.

In [3]:
def reverse_words_1(str):
    return ' '.join(s[::-1] for s in str.split(' '))

In [4]:
reverse_words_1("soledad")

'dadelos'

In [7]:
def reverse_words_2(str):
  return ' '.join(w[::-1] for w in str.split(' '))

In [8]:
reverse_words_2("soledad")

'dadelos'

In [10]:
def reverse_words_3(str):
  
  newStr = []
  for i in str.split(' '):
      newStr.append(i[::-1])
  return ' '.join(newStr)

In [11]:
reverse_words_3("go for it")

'og rof ti'

In [39]:
def number():
    if n % 3 == 0:
        print("Weird")
    
    else:
        print("ok")

In [40]:
number(15)

TypeError: number() takes 0 positional arguments but 1 was given

## ----------------------------------------------------------------------------------------

Complete the solution so that it returns the greatest sequence of five consecutive digits found within the number given. The number will be passed in as a string of only digits. It should return a five digit integer. The number passed may be as large as 1000 digits.

In [18]:
def solution(digits):
    numlist = [int(digits[i:i+5]) for i in range(0,len(digits)-4)]
    return max(numlist)

In [19]:
solution(364973847433)

TypeError: object of type 'int' has no len()

In [6]:
def solution(digits):
    return int(max(digits[a:a + 5] for a in range(len(digits) - 4)))

In [7]:
solution(364973847473396)

TypeError: object of type 'int' has no len()

In [10]:
def solution(digits):
    maxNum = 0
    for i in range(len(digits)-4):
        curNum = int(digits[i:i+5])
        if curNum > maxNum:
            maxNum = curNum
    return maxNum

In [11]:
solution(2536)

TypeError: object of type 'int' has no len()

## ----------------------------------------------------------------------------------------

Given two numbers and an arithmetic operator (the name of it, as a string), return the result of the two numbers having that operator used on them.

a and b will both be positive integers, and a will always be the first number in the operation, and b always the second.

The four operators are "add", "subtract", "divide", "multiply".

In [8]:
def arithmetic(a, b, operator):
    if operator == "add":
        return a + b
    elif operator == "subtract":
        return a - b
    elif operator == "multiply":
        return a * b
    elif operator == "divide":
        return a / (b * 1.0)

In [10]:
arithmetic(10, 15, "add")

25

In [11]:
arithmetic(10, 15, "subtract")

-5

In [16]:
from operator import add, mul, sub, truediv

In [17]:
def arithmetic1(a, b, operator):
    ops = {'add': add, 'subtract': sub, 'multiply': mul, 'divide': truediv}
    return ops[operator](a, b)

In [18]:
arithmetic1(40, 30, "divide")

1.3333333333333333

In [20]:
arithmetic1(40, 30, "multiply")

1200